.section-text-with-image {
  padding: 71px 0;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    align-items: flex-end;

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 42px;

      .headline {
        max-width: 481px;
        color: #fff;
        font-weight: 900;
      }

      .texts {
        max-width: 481px;
        display: flex;
        flex-direction: column;
        gap: 42px;

        .text {
          color: #fff;

          p {
            margin: 0;
          }
        }
      }

      .button {
        background-color: #9B51E0;
        border-color: #9B51E0;
        width: fit-content;

        &:hover {
          background-color: #fff;
          color: #9B51E0;
        }
      }
    } 

    .right {
      flex: 1;
      max-width: 507px;
    } 
  }
}

@media screen and (max-width: 768px) {
	.section-text-with-image {
    padding: 40px 0;

  	.container {
      padding: 0 40px;
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;

      .left {
        gap: 20px;

        .texts {
          gap: 20px;

          br {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .section-text-with-image {
    .container {
      .left {
        .button {
          width: 100%;
        }
      }
    }
  }
}