.section-hero-paycheck-lp {
	padding: 60px 0 145px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section-hero-paycheck-lp .container {
	max-width: 768px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-hero-paycheck-lp .container .logo {
	margin: 0 auto 90px;
	width: 155px;
	height: auto;
}

.section-hero-paycheck-lp .container .headline {
	margin-bottom: 100px;
	font-weight: 900;
	color: #9C49EE;
	text-align: center;
}

.section-hero-paycheck-lp .container .middle {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 547px;
	color: #000;
	align-self: flex-end;
	margin-bottom: 75px;
}

.section-hero-paycheck-lp .container .middle .subheadline {
	font-size: 28px;
	line-height: 2rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	margin-bottom: 0;
}

.section-hero-paycheck-lp .container .middle .text {
	font-size: 22px;
	line-height: 2rem;
}

.section-hero-paycheck-lp .container .middle::before {
	content: "";
	position: absolute;
	left: -80px;
	top: -70px;
	background: url(../../images/arrow-down-fow.svg);
	width: 42px;
	height: 99px;
}

.section-hero-paycheck-lp .container .nav-headline {
	font-weight: 900;
	margin-bottom: 3rem;
	text-align: center;
	color: #000;
}

.section-hero-paycheck-lp .container .links {
	display: flex;
	gap: 2.5rem;
	margin-bottom: 2.5rem;
}

.section-hero-paycheck-lp .container .links .text-link-arrow {
	filter: brightness(0) saturate(100%);
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	.section-hero-paycheck-lp {
		padding: 1.5rem 0 0;
		background-size: 200%;
		background-position: top center;
	}

	.section-hero-paycheck-lp .container {
		width: 100%;
		padding: 0 40px;
	}

	.section-hero-paycheck-lp .container .logo {
		margin-bottom: 3rem;
		width: 144px;
	}

	.section-hero-paycheck-lp .container .headline {
		margin: 0 -1rem 3rem;
	}

	.section-hero-paycheck-lp .container .middle {
		max-width: unset;
		gap: 18px;
		margin-bottom: 1rem;
	}

	.section-hero-paycheck-lp .container .middle .subheadline {
		font-weight: 900;
		font-size: 25px;
		margin-right: -1rem;
	}

	.section-hero-paycheck-lp .container .middle .text {
		font-size: 15px;
		line-height: 1.5rem;
	}

	.section-hero-paycheck-lp .container .middle::before {
		transform: scale(0.55);
		left: -40px;
		top: -60px;
	}

	.section-hero-paycheck-lp .container .links {
		flex-direction: column;
		gap: 1.5rem;
	}
}