
/** PAGE PRINCING **/
.page-template-page-pricing {
    h1.pricing-title {
        text-align: center;
        font-weight: bold;
        font-size: 27px;
        margin-top: 80px;
        @media only screen and (max-width: 468px) {
            margin-top: 50px;
            font-weight: 400;
            padding: 0px 15px;
        }
     
    }

    .hero {
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-position: center;
        height: 355px;        

        h1 {
            font-weight: 500;
            font-size: 36px;
            margin-bottom: 8px;

            @media (max-width: 468px) {            
                font-size: 28px;                    
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 300;

            @media (max-width: 468px) {            
                font-size: 21px;                       
            }
        }

        .swith-bill-mode {
            display: flex;
            justify-content: center;
            align-items: center;

            .bill-text {
                font-size: 16px;
                display: inline-block;

                &.monthly {
                    margin-right: 25px;    
                    
                    @media (max-width: 468px) {            
                        margin-right: 15px;                       
                    }
                }

                &.annually {
                    margin-left: 25px; 

                    @media (max-width: 468px) {            
                        margin-left: 15px;                           
                    }
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
        .hero-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            text-align: center;         
            height: 355px;        
            background-color: transparent;    
            margin: 10px;

            @media (max-width: 468px) {            
                margin: 0px;     
                padding: 0px !important;               
            }

            .save-text {
                text-transform: uppercase;
                font-weight: 600;
                padding: 6px 25px;
                background-color: #5fb86b;
                color: white;
                border-radius: 7px;
                margin: 20px auto 20px auto;
                position: relative;
                font-size: 13px;
                transition: all 200ms ease;

                &.monthly {
                    &::after {
                        left: -35%;
                        top: 8px;
                        transform: rotate(260deg);
                    }   
                }
                
                &::after {
                    background-image:url('../img/curved-line.png'); 
                    background-repeat: no-repeat;
                    position: absolute;
                    z-index: 100000;
                    left: 110%;
                    top: 14px;
                    content: "";
                    background-size: 66%;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    content: "";                    
                }
            }

            

           
        }
    }

    /* -----------------------------------
    * pricing
    ----------------------------------- */
    .pricing-section {
        margin: 0 0 0;
    
        .pricing-toggle {
            margin: 0 0 45px;
            text-align: center;
            list-style: none;
            font-size: 0;
    
            li {
                display: inline-block;
                width: 150px;
                height: 48px;
                text-align: center;
                font-size: 14px;
                color: #31a2b7;
                line-height: 46px;
                border: 1px solid #dddddd;
                cursor: pointer;
                text-transform: uppercase;
                user-select: none;
                /* transition: all 300ms ease-out; */
    
                &:first-child {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
    
                &:last-child {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
    
                &.active {
                    color: #fff;
                    font-weight: 600;
                    background-color: #31a2b7;
                    border-color: #31a2b7;
                }
    
                &:hover {
                    border-color: #31a2b7;
                }
    
                @media only screen and (max-width: 640px) {
                    width: 130px;
    
                }
            }
        }
    
        .pricing-table {
            max-width: 966px;
            padding: 35px 15px 15px 15px;
            margin: 0 auto 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            border: none;

            .pricing-plan {
                .pricing-plan-body {
                    .stick-top {
                        position: fixed;
                        top: 96px;
                        width: 100%;
                        margin-left: -21px;
                        margin-top: 7px;
                        background: #FFFFFF;
                        z-index: 101;
                        border-right: 1px solid #DDDDDD;
                        border-left: 1px solid #DDDDDD;
                        border-bottom: 1px solid #DDDDDD !important;
                    }
                }
            }
           
           
    
            @media only screen and (max-width: 640px) {
                display: block;
            }
    
            .pricing-table-col {
                max-width: 234px;
                position: relative;
                padding-top: 48px;
                text-align: center;
                margin: 10px;
                
                @media only screen and (max-width: 640px) {
                    max-width: 100%;
                    margin-bottom: 15px;
                    padding-top: 0;
                }
    
                &.pricing-table-col-tagged {
                    background: none; 
    
                    .pricing-plan {
    
                        .pricing-col-title {
                            color: #000;
                        }
    
                        .pricing-plan-body {
                            .pricing-price,
                            .pricing-subheadline {
                                color: #31a2b7;
                            }
    
                            .button,
                            .button:focus {
                                border-color: #31a2b7;
                                background-color: #31a2b7;
                            }
    
                            .button:hover {
                                color: #31a2b7;
                                background-color: transparent;
                            }
                        }
                    }
    
                    & + .pricing-table-col .pricing-plan {
                        @media only screen and (min-width: 641px) {
                            border-left-color: #dddddd;
                        }
                    }
                }
                
                .pricing-top-tag {
                    position: absolute;
                    top: 13px;
                    left: 0;
                    width: 100%;
                    height: 48px;
                    background-color: #31a2b7;
                    color: $white;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: inherit;
                    margin: 0 0 0;
                    padding: 0 5px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    -ms-align-items: center;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0px;
    
                    @media only screen and (max-width: 640px) {
                        position: relative;
                        top: auto;
                        left: auto;
                    }
    
                    span {
                        margin-top: 3px;
                    }
                }
    
                .pricing-plan {
                    border: 1px solid #dddddd;
                    height: 100%;
    
                    /*
                    @media only screen and (max-width: 640px) {
                        border-right: 1px solid #dddddd;
                    }*/
    
                    .pricing-col-title {
                        height: 48px;
                        color: #000;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1.2;
                        text-transform: uppercase;
                        padding: 0 5px;
                        border-bottom: none;
                        border-top: none;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        -ms-align-items: center;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        margin-left: -1px;
  
    
                        span {
                            margin-top: 3px;
                        }
                    }
    
                    .pricing-plan-body {
                        padding: 0px 15px 10px;
    
                        .pricing-price {
                            color: #8857ac;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 1.2;
                            margin: 0 0 2px;
                        }

                        .pricing-short-description {
                            color: #313A43;
                            font-size: 14px;
                            line-height: 1.2;       
                            margin-bottom: 20px;
                            height: 53px;         
                            
                            @media only screen and (max-width: 640px) {
                                height: 40px;   
                            }

                            @media only screen and (max-width: 787px) {
                                height: 80px;   
                            }
                        }
    
                        .pricing-meta {
                            color: #313A43;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.2;
                            min-height: 58px;
                            margin: 0 0 2px;
                        }
    
                        .pricing-subheadline {
                            color: #8857ac;
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 20px;
                            margin: 8px 0 10px;
                            display: block;

                            a {
                                color: #4f2c69;
                                font-weight: 100;
                            }
                        }
    
                        .button {
                            display: block;
                            background-color: #8857ac;
                            color: #fff;
                            line-height: 1;
                            font-size: 16px;
                            font-weight: 400;
                            border-radius: 3px;
                            padding: 15px 10px 15px;
                            height: auto;
                            border: 1px solid #8857ac;
                            margin: 0 auto;
                            max-width: 100%;
    
                            &:hover {
                                background-color: #fff;
                                color: #8857ac;
                            }
                        }

                        p.list-meta {
                            text-transform: uppercase;
                            font-size: 13px;
                            font-weight: 500;
                            text-align: center;
                            margin-top: 30px;
                            font-weight: 600;
                            cursor: inherit;

                            @media only screen and (max-width: 640px) {
                                text-align: center;
                                cursor: pointer;
                               &:after {
                                    content: '';
                                    background: url("../img/arrow-down-black.png") center no-repeat;
                                    position: relative;
                                    top: 3px;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    height: 10px;
                                    display: block;
                                    cursor: pointer;
                                    transition: all 200ms ease;
                                   
                               }

                               &.open {
                                    &:after {
                                        transform: rotate(180deg);
                                    }                                
                                }
                            }
                        }
    
                        .pricing-table-list {
                            margin: 1em 0em 1em 1em;
    
                            @media only screen and (max-width: 640px) {
                                display: none;
                            }
    
                            li {
                                list-style-type: initial;
                                display: list-item;
                                color: #626970;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 20px;
                                margin: 12px 0;
    
                                &.divider-below {
    
                                    &:after {
                                        content: '';
                                        display: block;
                                        background-color: #ddd;
                                        width: 78px;
                                        height: 1px;
                                        margin: 30px auto 26px;
                                    }
                                }

                                &:hover {
                                    color: #626970;
                                }
                            }
                        }

                        .pricing-col-bottom-text {
                            font-size: 13px;
                            font-style: italic;
                            text-align: center;

                            @media only screen and (max-width: 640px) {
                               display: none;
                            }
                        }
                    }
                }
            }            
        } 
        .bottom-text {
            font-size: 14px;
            text-align: center;
            padding: 0px 25px;
        }
    
        .pricing-bottom {
            margin: 25px 0 0;
    
            p {
                color: #000;
                font-size: 26px;
                line-height: 0em;
                margin-top: 40px;
            }
    
            a {
                color: #8857ac;
                font-size: 26px;
                font-weight: 400;
                line-height: 24px;
                border-bottom: 1px solid;
            
    
                &:hover {
                    color: $black;
                }
    
                span {
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    margin-left: 5px;
                }
                
            }

            img.arrow-down {
                display: block;
                text-align: center;
                margin: 10px auto;
            }
        }
    }

    .pure-material-switch {
        z-index: 0;
        position: relative;
        display: inline-block;
        color: #E6E3E3;
        font-size: 16px;
        line-height: 1.5;
        width: 60px;
    }
    
    /* Input */
    .pure-material-switch > input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        right: 26px;
        top: -4px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(4, 162, 189, 0.85);
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
    }
    
    /* Span */
    .pure-material-switch > span {
        display: inline-block;
        width: 100%;
        cursor: pointer;
    }
    
    /* Track */
    .pure-material-switch > span::before {
        content: "";
        float: right;
        margin: 3px 0 0px 10px;
        border-radius: 13px;
        width: 60px;
        height: 26px;
        background-color: #E6E3E3;
        vertical-align: top;
        transition: background-color 0.2s, opacity 0.2s;
    }
   
    /* Thumb */
    .pure-material-switch > span::after {
        content: "";
        position: absolute;
        top: 5px;
        right: 35px;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        background-color: #04A2BD;
        box-shadow: 0 3px 1px -2px rgba(4,162,189,0.2), 0 2px 2px 0 rgba(4,162,189,0.14), 0 1px 5px 0 rgba(4,162,189,0.12);
        transition: background-color 0.2s, transform 0.2s;
    }
    
    /* Checked */
    .pure-material-switch > input:checked {
        right: -7px;
        background-color: rgba(4, 162, 189, 0.85);
        top: -4px;
    }
    
    .pure-material-switch > input:checked + span::before {
        background-color: #E6E3E3;
    }
    
    .pure-material-switch > input:checked + span::after {
        transform: translateX(32px);
    }

    
    /* Active */
    .pure-material-switch > input:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
    }
    
    .pure-material-switch > input:active + span::before {
        background-color: rgba(55,55,55, 0.38);
    }
    
    .pure-material-switch > input:checked:active + span::before {
        background-color: rgba(55,55,55, 0.38);
    }
    
    /* Disabled */
    .pure-material-switch > input:disabled {
        opacity: 0;
    }
    
    .pure-material-switch > input:disabled + span {
        color: rgba(55,55,55, 0.38);
        opacity: 0.38;
        cursor: default;
    }
    
    .pure-material-switch > input:disabled + span::before {
        background-color: rgba(55,55,55, 0.38);
    }
    
    .pure-material-switch > input:checked:disabled + span::before {
        background-color: rgba(55,55,55, 0.38);
    }
    
    /** Layout: Image Left / Content Right */
    .image-left-content-right {
        * {
            color: #452f53;
        }
        h1 {
            font-size: 25x;
            font-weight: 700;
        }

        
        h2 {
            font-size: 26px;
            font-weight: 600;
            text-align: left;

            
            @media (max-width: 767px) {            
                font-size: 24px;                
            }
            @media (max-width: 468px) {            
                font-size: 20px;                    
            }
        }

        h3 {
            font-size: 26px;
            font-weight: 600;

            
            @media (max-width: 767px) {            
                font-size: 24px;                
            }
            @media (max-width: 468px) {            
                font-size: 17px;                    
            }

        }
        p {
            font-size: 14px;
            line-height: 24px;

            &.lead {
                font-size: 19px;
                line-height: 0px;

               
                @media (max-width: 767px) {            
                    line-height: 22px;                    
                }
                @media (max-width: 468px) {            
                    font-size: 14px; 
                    line-height: 0px;
                                      
                }
            }

            &.headline {
                font-size: 26px;
                @media (max-width: 468px) {            
                    font-size: 20px;                                       
                    line-height: 0px;
                }                
            }
        }

        ul li {
            font-size: 14px;
            line-height: 24px;
        }

        .line-through {
            text-decoration: line-through;
        }
        .thin {
           font-weight: 100;
           line-height: 0px;

           @media (max-width: 767px) {            
            line-height: 22px;                        
          }
          @media (max-width: 468px) {            
            line-height: 10px;                                       
        }
        }

        .purple {
            color: $purple;
        }
    }

    .pricing-detailed {
        background: none;
        margin-top: 60px;


        .checked {
            background: url(../img/checkmark-normal.svg);
            background-repeat: no-repeat;
            background-size: 8%;
            background-position: 50%;

            &.popular {
                background: url(../img/checkmark-popular.svg);
                background-repeat: no-repeat;
                background-size: 8%;
                background-position: 50%;
            }
        }
        table {
            thead {
                tr {
                    
                    th {
                        border-top: 1px solid #cbcdcf;
                        border-right: 1px solid #cbcdcf;
                        min-width: 90px;
                        
                        .sticky {
                            position: fixed;
                            top: 69px;
                            background: white !important;
                            border-right: 1px solid #cbcdd0;
                            width: inherit;
                            border-bottom: 1px solid #cbcdd0;
                            z-index: 999;
                                                     
                        }

                        &:nth-child(2) {
                            .sticky {
                                border-left: 1px solid #cbcdd0;
                                margin-left: -1px;
                            } //fix border overlapping
                        }
                        
                        &.empty-cell {
                            border-top: none;
                            background-color: white;
                        }
                        .pricing-col-title {
                            background-color: #f6f7f7;
                            margin: 0;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.2;
                            text-transform: uppercase;
                            padding: 12px 5px;
                            color: #000;
                            
                            &.popular {
                                background-color: #05a2bd;
                                color: white;
                            }
                        }
                        .pricing-plan-body {
                            padding: 30px 15px 10px 15px; 

                            .pricing-price {
                                font-weight: 400;
                                font-size: 20px;
                            }

                            .pricing-meta {
                                font-weight: 400;
                                margin-top: 10px;
                                margin-bottom: 20px;
                            }

                            .button {
                                display: block;
                                background-color: #8857ac;
                                color: #fff;
                                line-height: 1;
                                font-size: 16px;
                                font-weight: 400;
                                border-radius: 3px;
                                padding: 15px 10px 15px;
                                height: auto;
                                border: 1px solid #8857ac;
                                margin: 0 auto;
                                max-width: 100%; 
        
                                &:hover {
                                    background-color: #fff;
                                    color: #8857ac;
                                }

                                &.popular {
                                    border: 1px solid #05a2bd;
                                    background-color: #05a2bd;
                                    color: white;                                    

                                    &:hover {
                                        border: 1px solid #05a2bd;
                                        background-color: #fff;
                                        color: #05a2bd;
                                    }
                                }


                            }
                        }
                    }

                }
            }

            tbody {
                tr {
                    td {
                        border-right: 1px solid #cbcdcf;

                        &.pricing-feature__title {
                            padding-bottom: 0.2rem !important;
                            padding-top: 1rem !important;
                        }

                        &.text-value {
                            color: #8857ac;
                            font-weight: 600;
                            text-transform: uppercase;

                            &.popular {
                                color: #05a2bd;
                            }
                        }
                    }
                }
            }

            tbody tr td {
                padding: 0.8rem 1rem;
                font-size: 13px;    
            }

            tr {
                &:nth-of-type(even) {
                    background: white;
                }

                &:hover {
                    background-color: rgba(0,0,0,0.05);
                }

                td {
                    color: #232323;
                    .col-tooltip {
                        border-bottom: 1px dotted#c1c1c1;
                        cursor: pointer;
                        position: relative;
                        transition: all 200ms ease;
                        color: #232323;

                        &:after {
                            text-transform: none;
                            content: attr(data-tooltip-text);
                            font-size: 14px;
                            position: absolute;
                            color: #fff;
                            background: $purple;
                            padding: 8px 12px;
                            width: -webkit-max-content;
                            width: -moz-max-content;
                            width: max-content;
                            max-width: 200px;
                            opacity: 0;
                            pointer-events: none;
                            left: 20px;
                            top: 0;
                            border-radius: 4px;
                            transform: translate3d(-30px,0%,0);
                            transition: all .3s ease;
                            transition-delay: 200ms;
                          }
                          &:hover {
                            // TOOLTIP FADEIN AND TRANSLATION
                            &:before, &:after {
                              opacity: 1;
                            }
                            &:before {
                              transform: translate3d(-30px,calc(-100% -7px),0);
                            }
                            &:after {
                              transform: translate3d(-30px, calc(-100% - 9px), 0)
                            }
                        }
                    }
                }
            }
        }

        .pricing-feature__title {
            h4 {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    /* -----------------------------------
    * Signup bumber
    ----------------------------------- */
    .signup-bumper-section {
        margin: 18px auto 52px;
        
        h2 {
            color: #636363;
            font-size: 20px;
            line-height: 1.2;
            margin: 0 0 23px;
            font-weight: 100;
        }
    }
    
    @media (max-width: 767px) {
        .hidden-xs {
          display: none !important;
        }
      }
}
