.row {
  max-width: 1152px;
}

#hero-signup-form {
  display: flex;
  margin-left: -1.5rem;

  .form-item {
    margin-right: 0;
  }

  input[type="email"] {
    width: 288px;
    height: 3rem;
    margin-bottom: 0;
    padding-right: 3rem;
  }

  button#create-account {
    margin-left: -2.5rem;
  }

}


@media screen and (max-width: 640px) {
  #hero-signup-form {
    margin-left: 0;
    flex-wrap: wrap;
  
    input[type="email"] {
      width: 100%;
    }
  
    button#create-account {
      width: 100%;
      margin-left: 0;
    }
  }
}

.main-inner-wrapper {
  overflow: inherit;
}

.section {
  padding: 5rem 0;
}

.admin-bar .section-navbar {
  margin-top: 2rem;
}

.section-navbar {
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 0;
  text-align: left;
  background-color: #f6f7f7;
  z-index: 30;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0 -27px;
    list-style: none;

    li {
      line-height: 1;
      margin: 0 27px;
      transition: all 300ms ease-out;

      &.active a {
        font-weight: bold;

        &::after {
          width: 100%;
        }
      }

      a {
        position: relative;
        display: table-cell;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.2;
        color: #452f53;
        height: 3rem;
        text-align: center;
        vertical-align: middle;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 0;
          height: 1px;
          border-bottom: 4px solid #04A2BD;
          transition: width 0.3s ease 0s,left 0.3s ease 0s;
        }
      }
    }
  }
}

.section-navbar + .section {
  margin-top: 64px;
}

.section-hero {
  padding-top: 3.5rem;

  .col-left {
    text-align: left;

    .text-wrapper {
      margin-left: 4rem;
      margin-right: 3rem;

      &.nomargin {
        margin-left: 0;
      }
    }

    h1 {
      font-size: 11px;
      font-weight: bold;
      line-height: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      margin-bottom: 2.5rem;
      color: #04A2BD;
    }
  
    h2 {
      margin-bottom: 1.5rem;
    }

    h3 {
      max-width: 450px;
    }

    form {
      margin-top: 2.5rem;
    }

    a.button {
      margin-top: 2.5rem;
    }
  }
  .col-right {
    text-align: right;

    &.center {
      text-align: center;
    }

    .img-wrapper {
      display: inline-block;
    }
  }
}

.section-2-cols {

  .text-wrapper {
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem !important;
    }
    ul {
      margin-bottom: 1rem;

      li:last-child {
        margin-bottom: 0 !important;
      }
    }

    a.button {
      margin-top: 1rem;
    }
  }

  .img-wrapper img {
    max-height: 500px;
  }
}

.section-customer-quote {
  padding-top: 5rem;
  padding-bottom: 8rem;
  margin: 5rem 0;
  background-color: rgba(243, 238, 246, 0.4);
  
  h3.subheading {
    color: #452F53;
    text-align: right;
    margin-bottom: 2rem;
  }

  .quote-container {
    position: relative;
    padding-top: 0;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      bottom: -3rem;
      left: 0;
      width: 18rem;
      height: calc(100% + 6rem);
      background-color: #bbeaea;
      z-index: -1;
    }
  }

  .quote-wrapper {
    text-align: left;
    margin-left: 3rem;
    padding: 4rem 6rem 3.5rem 15rem;
    min-height: auto !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(138, 94, 166, 0.14);
  }

  p.quote-message {
    position: relative;
    color: #313A43;
    margin-bottom: 2rem !important;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -8rem;
      width: 42px;
      height: 33px;
      background-image: url(../../img/quote-mark-purple.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  p {
    margin-bottom: 0 !important;
  }



  .photo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .quote-label {
    position: absolute;
    left: 90px;
    bottom: 0;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: -3rem;
      width: 32px;
      height: 78px;
      background-image: url(../../img/arrow-curve.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &.photo {
    padding-top: 8rem;

    .quote-container::before {
      height: 80%;
    }
    .quote-wrapper {
      min-height: 300px !important;
      margin-left: 15rem;
      padding: 4rem 4rem 3.5rem 12rem;
    }

    .photo-wrapper {
      width: 295px;
      height: 295px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50% 50% 50% 0;
        transform: translateY(-40%);
      }
    }

    p.quote-message::before {
      left: -6rem;
    }
  }

  &.logo {

    .photo-wrapper {
      top: 50%;
      left: 10.5rem;
      width: 150px;
      height: 150px;

      img {
        transform: translate(-50%, -50%);
      }
    }

    p.quote-message::before {
      display: none;
    }
  }
}

.section-integration {
  h3 {
    margin-bottom: 1.5rem;
  }

  .section-header {
    margin-bottom: 5em;
  }

  ul.integrations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    align-items: center;
    margin: 0;
    margin-bottom: 3.75rem;
    list-style-type: none;

    li img {
      max-width: 160px;
      max-height: 80px;
    }
  }
}

.section-subscribe-banner {
  h3 {
    margin-bottom: 1rem;
  }

  .banner-container {
    padding: 3.5rem;
    background-color: #F3EEF6;
  }

  .banner-header {
    margin-bottom: 2rem;

    p {
      margin-bottom: 0 !important;
    }
  }

  form {
    display: flex;
    justify-content: center;

    .form-item {
      margin-right: 0;
    }

    input[type="email"] {
      height: 3rem;
      width: 280px;
      padding-right: 3.5rem;
      margin-bottom: 0;
    }

    button[type="submit"] {
      margin-left: -3rem;
    }
  }
}

.section-reviews {
  padding: 4.5rem 0;
  margin: 5rem 0;

  .reviews-header {
    margin-bottom: 2.5rem;

    h3 {
      margin-bottom: 1rem;
    }

    br {
      display: none;
    }
  }

  .reviews-grid {
    padding: 0 2rem;
    .review-box {
      padding: 2rem 2rem 1.5rem;
      background: #FFFFFF;
      border: 1px solid #E5E6E7;
      box-sizing: border-box;
      box-shadow: 0px 4px 40px rgba(138, 94, 166, 0.1);
      border-radius: 8px;
      -webkit-transition: .3s ease-in;
      -moz-transition: .3s ease-in;
      -o-transition: .3s ease-in;
      transition: .3s ease-in;

      .logo {
        height: 40px;
        margin-bottom: 1.5rem;
      }

      .score img {
        display: block;
        margin: 0 auto;
        height: 14px;
      }

      .content {
        font-size: 13px;
        font-weight: normal;
        color: #452F53;
      }
    }

    a:hover .review-box {
      box-shadow: 0px 4px 20px rgba(138, 94, 166, 0.3);
    }

    .rating {
      display: block;
      font-size: 11px;
      line-height: 16px;
      color: #AF96C2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-top: 2rem;
    }
  }

  .customer-review {
    margin-top: 8rem;
    color: #313A43;

    p.c-review {
      position: relative;
      font-size: 17px;
      line-height: 32px;

      &::before {
        content: "";
        position: absolute;
        top: -5rem;
        left: 50%;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #8746A8;
        background-image: url(../../img/quote-mark-w.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50% 50% 0;
        transform: translateX(-50%);
      }
    }

    p.c-info {
      color: #969BA0;
      margin-bottom: 0 !important;
    }
  }
}

.section-business {
  .section-header {
    margin-bottom: 4.5rem;
  }

  ul.business-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem 3rem;
    list-style-type: none;
    align-items: stretch;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;

    li {
      padding: 1rem 1rem;
      transition: all 300ms ease-out;

      img {
        margin-bottom: 0.5rem;
      }

      a {
        display: block;
      }

      .title  {
        font-weight: 800;
        color: #452F53;
        margin-bottom: 0 !important;
        transition: all 300ms ease-out;
      }

      &:hover {
        background: #FFFFFF;
        box-shadow: 0px 8.3125px 19px rgba(138, 94, 166, 0.24);
        border-radius: 9.5px;

        .title  {
          color: #04A2BD;
        }
      }
    }
  }
}

.section-faqs {
  .row-container {
    display: flex;
  }

  .col-left {
    .column-inner {
      position: -webkit-sticky;
      position: sticky;
      top: 170px;
    }

    .col-wrapper {
      text-align: left;
      padding-right: 6rem;
    }

    h2 {
      margin-bottom: 2.5rem;
    }
  }

  .col-right {
    .faq-item {
      margin-bottom: 5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .field {
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #8746A8;
      margin-bottom: 1.5rem;
    }

    h3 {
      color: #452F53;
      margin-bottom: 2rem;
    }

    p {
      color: #313A43;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.section-signup-banner {
  .section-inner {
    padding: 3.5rem 0;
    background-color: #bbeaea;

    &.lpink {
      background-color: #F3EEF6;
    }
  }

  .row {
    max-width: 750px;
  }

  .col-left {
    text-align: left;

    h3 {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0;
    }

    p {
      margin-top: 0.5rem;
    }
  }

  .col-right {
    text-align: right;
  }
}

.section-free-offers {
  margin: 5rem 0;
  padding: 8.5rem 0;
  background-color: rgba(243, 238, 246, 0.4);

  .section-header {
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.375rem;
      line-height: 2rem;
      color: #8746A8;
    }
  }

  ul.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin: 0;
    margin-bottom: 2rem;

    li {
      text-align: left;
      padding: 2rem 1.5rem;

      &:nth-child(-n+3) {
        border-bottom: 1px solid rgba(203, 205, 207, .5);
      }

      span {
        display: block;
        font-weight: bold;
        padding-left: 2rem;
        background-image: url(../../img/checkmark-blue.svg);
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .main-wrapper header {
    box-shadow: none;
  }

  .section {
    padding: 2.5rem 0;
  }

  .section-navbar {
    top: 48px;
    padding: 0;

    .column-inner {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 54px;
        height: 100%;
        background: linear-gradient(90deg, rgba(246, 247, 247, 0) 9.26%, #F6F7F7 92.4%);
      }
    }

    .features-sub-container {
      margin: 0 -1rem;
      overflow-x: scroll;
    }

    ul {
      width: max-content;
      margin: 0;

      li {
        margin: 0;

        a {
          padding-left: 1rem;
          padding-right: 1rem;
          height: 56px;
        }
      }
    }
  }

  .admin-bar .section-navbar {
    margin-top: 2.875rem;
  }

  .section-hero {
    padding-top: 2.5rem;

    .col-left {
      text-align: center;
      margin-bottom: 2.5rem;

      .text-wrapper {
        margin-left: 0;
        margin-right: 0;
      }

      h2 {
        font-size: 36px;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }

      h3.subheading {
        padding: 0 3rem;
        max-width: 100%;
      }

      a.button {
        width: 100%;
      }

      br {
        display: none;
      }
    }

    .col-right {
      text-align: center;
    }
  }

  .section-2-cols {

    .col-left {
      margin-bottom: 4.5rem;

      .text-wrapper {
        margin-left: 0;
        margin-right: 0;
      }

      a.button {
        width: 100%;
      }
    }
  }

  .section-customer-quote {
    padding: 3rem 0;
    margin: 2.5rem 0;
    background-color: #ffffff;

    .quote-container::before {
      bottom: -2rem;
      left: -1rem;
      width: 8rem;
      height: calc(100% + 4rem);
    }

    .quote-wrapper {
      padding: 6.5rem 2rem 3.5rem;
      margin-left: 1rem;
    }

    p.quote-message::before {
      top: -4rem;
      left: 0;
    }

    .photo-wrapper {
      top: 0;
      left: auto;
      right: 0;
    }

    &.logo {
      padding-top: 9rem;

      p.quote-message::before {
        display: block;
      }

      .photo-wrapper {
        top: 0;
        left: auto;
        right: 0;

        img {
          transform: translateY(-100%);
        }
      }
    }

    &.photo {
      padding-top: 12rem;
      padding-bottom: 2rem;

      .quote-container::before {
        height: calc(100% + 4rem);
      }

      .quote-wrapper {
        padding: 6.5rem 2rem 3.5rem;
        margin-left: 1rem;
      }

      p.quote-message::before {
        left: 0;
      }

      .photo-wrapper {
        width: 190px;
        height: 190px;

        img {
          border-radius: 50% 50% 0 50%;
          transform: translateY(-100%);
        }
      }
    }
  }

  .section-integration {
    .section-header {
      margin-bottom: 2.5rem;
    }

    ul.integrations-grid {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 3rem;

      li {
        &:nth-child(4n) {
          display: none;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  .section-subscribe-banner {
    .banner-container {
      margin: 0 -1rem;
      padding: 4rem 1rem;
    }

    form {
      flex-wrap: wrap;

      input[type="email"] {
        width: 100%;
      }

      button[type="submit"] {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .section-reviews {
    margin: 2.5rem 0;
    padding: 3rem 0;

    .reviews-header {
      h2 {
        font-size: 36px;
        line-height: 2.5rem;
      }
  
      h3 {
        margin-bottom: 1rem;
      }
  
      br {
        display: block;
      }
    }

    .reviews-grid {
      padding: 0;

      .columns {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(2n) {
          .column-inner {
            padding-left: 0.25rem;
          }
        }
        &:nth-child(2n+1) {
          .column-inner {
            padding-right: 0.25rem;
          }
        }
      }

      .review-box {
        padding: 1.75rem;
        padding-bottom: 1.25rem;

        .logo {
          height: 35px;
          margin-bottom: 1rem;
        }

        .score {
          width: 80%;
          margin: 0 auto;
        }
      }

      .rating {
        margin-top: 1rem;
      }
    }

    .customer-review {
      p.c-review {
        line-height: 1.5rem;
      }

      br {
        display: none;
      }
    }
  }

  .section-business {
    .section-header {
      margin-bottom: 3.5rem;

      h2 {
        font-size: 2.5rem;
        text-align: left;
        padding-left: 2.5rem;
      }
    }

    ul.business-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 2rem;
      padding: 0;
      padding-left: 20px;

      li {
        padding: 0;
        text-align: left;

        img {
          margin-bottom: 0;
          margin-right: 0.5rem;
        }

        p {
          position: relative;
          display: inline-block;
          padding-right: 1.5rem;

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 1rem;
            height: 1.5rem;
            background-image: url(../../img/arrow-right-blue.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 0.5rem;
          }
        }

        a {
          font-size: 19px;
        }
      } 
    }
  }

  .section-faqs {

    .row-container {
      flex-wrap: wrap;
    }

    .col-left {
      margin-bottom: 3.5rem;

      .column-inner {
        position: relative;
        top: auto;
      }

      h2 {
        font-size: 36px;
        line-height: 2.5rem;
      }

      .col-wrapper {
        text-align: center;
        padding-right: 0;
      }
    }

    .col-right {
      .faq-item {
        margin-bottom: 3rem;
      }
    }
  }

  .section-signup-banner {
    .section-inner {
      padding: 2.5rem 2rem;
    }
  
    .col-left {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .col-right {
      text-align: center;
    }
  }

  .section-free-offers {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .section-header {
      padding: 0 1.5rem;
      margin-bottom: 2.5rem;
    }

    ul.feature-grid {
      display: block;
      max-width: 260px;
      margin: 0 auto;

      li {
        padding: 0;
        margin-bottom: 2.5rem;
        border: none !important;
      }
    }
  }
}

.section-contact-hero {
  text-align: left;
  padding: 5.5rem 0;
  background: rgba(243, 238, 246, 0.4);

  .heading-wrap {
    h3 {
      margin-top: 1rem;
    }
  }
  
  .image-wrap {
    margin-top: 2rem;
  }
  
  p.notification {
    color: #969BA0;
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
  }
  
  #contact-sales {
    .form-heading {
      color: #969BA0;

      .form-title {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5rem;
        color: #8746A8;
        margin-bottom: 0.5rem;
      }
    }
    input, select, textarea {
      margin-bottom: 0;
    }
    
    input::placeholder {
      color: rgba(69, 47, 83, 0.4);
    }
  
    textarea::-webkit-input-placeholder {
      color: rgba(69, 47, 83, 0.4);
    }
    
    textarea:-moz-placeholder { /* Firefox 18- */
      color: rgba(69, 47, 83, 0.4);
    }
    
    textarea::-moz-placeholder {  /* Firefox 19+ */
      color: rgba(69, 47, 83, 0.4);
    }
    
    textarea:-ms-input-placeholder {
      color: rgba(69, 47, 83, 0.4);
    }
    
    textarea::placeholder {
      color: rgba(69, 47, 83, 0.4);
    }
  
    input:not([type='button']), select, textarea {
      color: inherit;
      border-radius: 10px;
      border: 1px solid rgba(175, 150, 194, 0.5) !important;
  
      &:focus {
        border-color: #04A2BD !important;
      }
    }
  
    select:focus {
      background-image: url(../../img/arrow-up-blue.svg);
    }
  
    input[type='button'] {
      font-family: "Inter","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 1rem;
      color: #fff;
      padding: 14px 30px;
      background-color: #8746A8;
      border: 2px solid #8746A8 !important;
      border-radius: 50px;
      cursor: pointer;
  
      &:hover {
        color: #8746A8;
        background-color: #ffffff;
      }
    }
  
    .nf-form-hp {
      position: absolute;
      visibility: hidden;
    }
  
    .nf-after-field {
      position: absolute;
      top: 0;
      right: 0;
    }
  
    .nf-error-msg {
      font-size: 11px;
      line-height: 1rem;
      color: #eb6e52;
      letter-spacing: 0.1px;
      margin-right: 0;
    }
  
    .nf-input-limit {
      margin-top:0
    }
  
    .ninja-forms-req-symbol {
      color: #452F53;
    }
  
    .label-above .nf-field-label {
      margin-bottom: 0.5rem;
    }
  
    label {
      font-size: 11px;
      line-height: 1rem;
      font-weight: bold;
      color: #452F53;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  
    .nf-field-container {
      position: relative;
      margin-bottom: 2rem;
  
      &.submit-container {
        margin-bottom: 1.5rem;
      }
      
    }
  
    .nf-error {
      label, .ninja-forms-req-symbol {
        color: #EB6E52;
      }
  
      input, select {
        color: #EB6E52;
        border: 1px solid #EB6E52 !important;
  
        &::placeholder {
          color: #EB6E52;
        }
      }
    }
  
    .nf-response-msg {
      p {
        color: #8746A8;
        margin-bottom: 0 !important;
      }
  
      .icon-message {
        margin-left: -14px;
      }
  
      h3 {
        margin-bottom: 0.5rem;
      }
    }
  
    .nf-before-form-content {
      display: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .section-contact-hero {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    background-color: transparent;

    .col-left {
      text-align: center;
      padding-bottom: 5rem;

      h3 {
        margin-top: 0.5rem;
      }
    }

    .col-right {
      padding: 2.5rem 0rem;
      background: rgba(243, 238, 246, 0.4);
    }

    #contact-sales {
      .form-heading .form-title {
        font-size: 19px;
      }
      label {
        letter-spacing: 0;
      }
      input[type='button'] {
        width: calc(100% - 4rem);
        margin: 0 2rem;
      }
  
      .nf-field-container {
        margin-bottom: 1.5rem;
      }
  
      .nf-response-msg {
        padding: 0 1rem;
  
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 2.5rem;
        }
  
        h3 {
          margin-left: 12px;
          margin-bottom: 0;
          max-width: 192px;
        }
      }
    }
  }
}

.section-cta-banner {
  overflow: hidden;

  h3 {
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }

  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 17px);
    height: 100%;
    margin: 0 calc((100% - 100vw + 17px)/2);
    background-color: #452f53;
    z-index: -1;
    overflow: hidden;
  }
  .bg-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .shape-3,
    .shape-2,
    .shape-1 {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    .shape-3 {
      z-index: 3;
    }

    .shape-2 {
      z-index: 2;
    }

    .shape-1 {
      z-index: 1;
    }
  }

  .banner-wrapper {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 25%;
    text-align: left;
    z-index: 1;

    &.aligned-left.shape-type1 {
      .shape-3 {        
        background-color: #8746A8;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        top: auto;
        bottom: 0;
        height: 50%;
        background-color: #BBEAEA; 
      }

      .shape-1 {
        height: 50%;
        background-color: #FDBA18; 
      }
    }

    &.aligned-left.shape-type2 {
      .shape-3 {        
        background-color: #BBEAEA;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        display: none;
      }

      .shape-1 {
        height: 50%;
        background-color: #8746A8;
      }
    }

    &.aligned-center {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;

      &.shape-type1 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #8746a8;
          border-radius: 0 0 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #FDBA18;
          border-radius: 50% 0 0 0;
          transform: translateX(53%);
        }
      }

      &.shape-type2 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #BBEAEA;
          border-radius: 0 50% 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #8746a8;
          border-radius: 0 0 0 50%;
          transform: translateX(53%);
        }
      }
    }
  }  
}

@media screen and (max-width: 1200px) {
  .section-cta-banner {
    .banner-wrapper {
      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          transform: translateX(53%) !important;
        }
      }

      &.aligned-center {
        padding-left: 15%;
        padding-right: 15%;

        .shape-1 {
          transform: translateX(60%) !important;
        }

        .shape-3 {
          transform: translateX(-60%) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .section-cta-banner {
    br {
      display: none;
    }

    .bg-layer {
      width: 100%;
      margin: 0;
    }

    .banner-wrapper {
      text-align: center !important;
      padding: 5rem 10% !important;
      margin: 0 -1rem;

      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 50% 0 0 0 !important;
          transform: translateX(53%) !important;
          opacity: 0.5;
        }
      }

      &.aligned-center {
        .shape-1 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 0 50% 50% 0 !important;
          opacity: 0.5;
        }
      }
    }
  }
}