.main-inner-wrapper {
  overflow: inherit;
}

.page-placement {
	display: block;
}

.row {
  max-width: 1152px;
}

.section {
  padding: 5rem 0;
}

#hero-signup-form {
  display: flex;
  margin-left: -1.5rem;

  .form-item {
    margin-right: 0;
  }

  input[type="email"] {
    width: 288px;
    margin-bottom: 0;
    padding-right: 3rem;
  }

  button#create-account {
    margin-left: -2.5rem;
  }
}

@media screen and (max-width: 640px) {
  #hero-signup-form {
    margin-left: 0;
    flex-wrap: wrap;
  
    input[type="email"] {
      width: 100%;
    }
  
    button#create-account {
      width: 100%;
      margin-left: 0;
    }
  }
}


.section-hero {
  padding-top: 1.5rem;

  h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #8A5EA6;
    margin-top: 1.5rem;
  }

  .col-left {
    text-align: left;

    form {
      margin-top: 2rem;
    }

    .col-wrapper {
      max-width: 450px;
    }
  }
  .col-right {
    text-align: right;

    .col-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .hero-img img {
      position: relative;
      right: -30px;
    }

    .handwrite-text {
      flex: 1;
      min-width: 110px;

      span {
        position: relative;
        display: block;
        font-family: 'Jenna Sue', sans-serif;
        font-size: 34px;
        line-height: 37px;
        letter-spacing: 0.02em;
        color: #452f53;
        margin-top: 40px;
        transform: rotate(-5.56deg);

        &::before {
          content: "";
          position: absolute;
          top: -60px;
          right: 8px;
          width: 50px;
          height: 55px;
          background-image: url(../../img/arrow-curve-1.svg);
          background-size: cover;
          background-repeat: no-repeat;
          transform: rotate(23.03deg);
        }
      }
    }

    .rating-text span {
      display: block;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.08em;
      color: #AF96C2;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-right: 30px;
    }
  }
}

.section-2-columns {

  .img-wrapper {
    transform: translateX(-2rem);
  }

  .text-wrapper {
    text-align: left;

    h3 {
      margin-bottom: 1.5rem;
    }

    p, li {
      color: #313A43;
    }

    ul.tick li {
      margin-bottom: 1rem !important;
    }

    .two-cols {
      column-count: 2;
      margin-top: 2.5rem;

      ul {
        margin: 0;

        li {
          display: inline-block;
          color: #452F53;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    a.button {
      margin-top: 2.5rem;
    }
  }

  .cert-wrapper {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(203, 205, 207, 0.5);

    .cert-logo {
      margin-right: 1.5rem;
    }

    .cert-text {
      flex: 1;

      p {
        font-size: 14px;
        color: #969BA0;
        white-space: nowrap;
        margin-bottom: 0 !important;
      }
    }
  }

}

.section-signup-widget {
  margin: 5rem 0;
  padding: 7.5rem 0;
  background-color: rgba(243, 238, 246, 0.4);

  .section-header {
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 1rem;
    }

    span {
      color: #8746A8;
    }
  }

  ul.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin: 0;
    margin-bottom: 4rem;

    li {
      text-align: left;
      padding: 2rem;

      &:nth-child(-n+3) {
        border-bottom: 1px solid rgba(203, 205, 207, .5);
      }

      span {
        display: block;
        font-weight: bold;
        padding-left: 2rem;
        background-image: url(../../img/checkmark-blue.svg);
        background-repeat: no-repeat;
        background-position: left top 4px;
      }
    }
  }
}

.section-cta-banner {
  padding-top: 8rem;
  padding-bottom: 8rem;

  h3 {
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }

  .column-inner {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: -3rem;
      left: -2rem;
      width: 270px;
      height: calc(100% + 6rem);
      background-color: #AF96C2;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -3rem;
      right: -2rem;
      width: 310px;
      height: 100%;
      background-color: #bbeaea;
      border-radius: 0;
      z-index: -1;
    }
  }

  .banner-wrapper {
    text-align: left;
    padding: 5rem 13rem 5rem 10rem;
    border-radius: 0 250px 0 0;
    background-color: #452f53;
  }
}

.section-allinone {
  h2 {
    margin-bottom: 1.5rem;
  }

  .section-header {
    text-align: center;
    margin-bottom: 5rem;

    br{
      display: none;
    }
  }

  .columns.custom {
    width: 20%;
  }

  .feature {
    font-size: 13px;
    max-width: 158px;

    .icon {
      margin-bottom: 0.5rem;

      img {
        width: 64px;
      }
    }

    .title {
      display: block;
      font-size: inherit;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: inherit;
      color: #313A43;
      margin-bottom: 0.5rem !important;
    }

    a.text-link-arrow {
      font-size: inherit;
    }
  }
}

@media screen and (max-width: 640px) {
  .main-wrapper header {
    box-shadow: 0px 7px 16px rgba(138, 94, 166, 0.13);
  }

  .section {
    padding: 2.5rem 0;
  }

  .section-hero {
    padding-top: 4rem;

    .col-left {
      text-align: center;
      margin-bottom: 2rem;

      .column-inner{
        height: 100%;
      }

      .col-wrapper {
        margin: 0 auto;
      }

      h1, h2 {
        max-width: 256px;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-top: 1rem;
      }

      form {
        margin-top: 2.5rem;
      }
    }

    .col-right {
      text-align: center;

      .col-wrapper {
        flex-wrap: wrap;
        justify-content: center;
      }

      .handwrite-text {
          display: none;
      }

      .hero-img img {
        right: auto;
      }

      .rating-text span {
        margin-right: 0;
      }
    }
  }

  .section-2-columns {
    .row.row-flex .row-container,
    .row.row-flex.reverse .row-container {
      flex-direction: column-reverse;
    }

    .img-wrapper {
      transform: translateX(0);
    }

    .text-wrapper {
      .two-cols {
        column-count: 1;

        ul {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          li {
            margin-bottom: 1rem;
          }
        }
      }

      a.button {
        width: 100%;
        margin-top: 2rem;
      }
    }

    .col-right {
      margin-bottom: 2rem;
    }
    
    .cert-wrapper {
      margin-top: 2rem;
    }
  }

  .section-signup-widget {
    text-align: left;
    padding: 3.5rem 0;
    margin: 2.5rem 0;

    .section-header h3 {
      margin-bottom: 0.5rem;
    }

    ul.feature-grid {
      display: block;
      margin-bottom: 2rem;

      li {
        padding: 0;
        border-bottom: none !important;
        margin-bottom: 1.5rem;
      }
    }

    .section-footer a.button {
      width: 100%;
    }
  }

  .section-allinone {
    .section-header {
      text-align: left;
      margin-bottom: 2rem;

      br{
        display: block;
      }

      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }

    .columns.custom {
      width: 100%;
    }

    .columns:not(:last-child) {
      margin-bottom: 2rem;
    }

    .feature {
      max-width: 100%;
      font-size: 16px;

      .icon {
        margin-right: 1.5rem;

        img {
          width: 72px;
        }
      }

      a {
        color: #452F53;
      }

      p {
        margin-top: 0.5rem;
        margin-bottom: 0rem !important;
      }
    }
  }

  .section-cta-banner {
    padding-bottom: 3.5rem;

    .column-inner {
      &::before {
        content: "";
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
      }
      &::after {
        display: none;
      }
    }
    .banner-wrapper {
      text-align: center;
      padding: 7.5rem 3.5rem;
      margin: 0 -1rem;
      border-radius: 0 150px;

      h3.subheading {
        font-size: 28px;
        line-height: 2rem;
    
        br {
          display: none;
        }
      }
    }
  }
}