.row {
  max-width: 1152px;
}

.container {
  margin-bottom: 0 !important;
}

.section {
  text-align: left;
  padding: 5.5rem 0;
  background: rgba(243, 238, 246, 0.4);
}

.heading-wrap {
  h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
  }

  h3 {
    margin-top: 1rem;
  }
}

.image-wrap {
  margin-top: 2rem;
}

p.notification {
  color: #969BA0;
  margin-top: 0.5rem;
  margin-bottom: 0 !important;
}

#contact-sales {
  input, select, textarea {
    margin-bottom: 0;
  }
  
  input::placeholder {
    color: rgba(69, 47, 83, 0.4);
  }

  textarea::-webkit-input-placeholder {
    color: rgba(69, 47, 83, 0.4);
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: rgba(69, 47, 83, 0.4);
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(69, 47, 83, 0.4);
  }
  
  textarea:-ms-input-placeholder {
    color: rgba(69, 47, 83, 0.4);
  }
  
  textarea::placeholder {
    color: rgba(69, 47, 83, 0.4);
  }

  input:not([type='button']), select, textarea {
    color: inherit;
    border-radius: 10px;
    border: 1px solid rgba(175, 150, 194, 0.5) !important;

    &:focus {
      border-color: #04A2BD !important;
    }
  }

  select:focus {
    background-image: url(../../img/arrow-up-blue.svg);
  }

  input[type='button'] {
    font-family: "proxima-nova","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    padding: 14px 30px;
    background-color: #8746A8;
    border: 2px solid #8746A8 !important;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      color: #8746A8;
      background-color: #ffffff;
    }
  }

  .nf-form-hp {
    position: absolute;
    visibility: hidden;
  }

  .nf-after-field {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nf-error-msg {
    font-size: 12px;
    line-height: 1rem;
    color: #eb6e52;
    letter-spacing: 0.1px;
    margin-right: 0;
  }

  .nf-input-limit {
    margin-top:0
  }

  .ninja-forms-req-symbol {
    color: #452F53;
  }

  .label-above .nf-field-label {
    margin-bottom: 0.5rem;
  }

  label {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #452F53;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .nf-field-container {
    position: relative;
    margin-bottom: 2rem;

    &.submit-container {
      margin-bottom: 1.5rem;
    }
    
  }

  .nf-error {
    label, .ninja-forms-req-symbol {
      color: #EB6E52;
    }

    input, select {
      color: #EB6E52;
      border: 1px solid #EB6E52 !important;

      &::placeholder {
        color: #EB6E52;
      }
    }
  }

  .nf-response-msg {
    p {
      margin-bottom: 0 !important;
    }

    .icon-message {
      margin-left: -14px;
    }

    h3 {
      margin-bottom: 0.5rem;
    }
  }

  .nf-before-form-content {
    display: none;
  }
}

@media screen and (max-width: 640px) {

  .section {
    background-color: transparent;

    .col-left {
      text-align: center;
      padding-bottom: 5rem;

      h1 {
        font-size: 2rem;
      }

      h3 {
        margin-top: 0.5rem;
      }
    }

    .col-right {
      padding: 2.5rem 0rem;
      background: rgba(243, 238, 246, 0.4);
    }
  }

  #contact-sales {
    label {
      letter-spacing: 0;
    }
    input[type='button'] {
      width: calc(100% - 4rem);
      margin: 0 2rem;
    }

    .nf-field-container {
      margin-bottom: 1.5rem;
    }

    .nf-response-msg {
      padding: 0 1rem;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;
      }

      h3 {
        font-size: 28px;
        margin-left: 12px;
        margin-bottom: 0;
        max-width: 192px;
      }
    }
  }
}