#hero-signup-form {
  display: flex;
  margin-left: -1.5rem;

  .form-item {
    margin-right: 0;
  }

  input[type="email"] {
    width: 256px;
    height: 3rem;
    margin-bottom: 0;
    padding-right: 3rem;
  }

  button#create-account {
    margin-left: -2.5rem;
  }

}

.row {
  max-width: 1152px;
}

.page-template-flexible-customer-mt54 {
	  
  .container {
    margin-bottom: 0;
  }

  .section {
		padding: 5rem 0;
	}

  .section-hero {
    h2 {
      margin-bottom: 2.5rem;
    }

    .col-left {
      text-align: left;
    }

    .col-right {
      text-align: right;
    }
  }

  .section-intro-tab {
    h2 {
      margin-bottom: 1rem;
    }

    .section-header {
      margin-bottom: 3rem;
    }

    .tab-header {
      margin-bottom: 5rem;
    }

    ul.tabs {
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        padding: 1rem 0;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        &.active {
          font-weight: bold;
          border-bottom: 4px solid #04A2BD;
        }

        &:hover {
          border-bottom: 4px solid #04A2BD;
        }
      }
    }

    .tab-content {
      display: none;

      &.active {
        display: block;
      }

      .col-left {
        text-align: left;
      }

      h3.subheading {
        line-height: 1.5rem;
        color: #452F53;
        margin-bottom: 1.5rem;
      }

      p {
        color: #313A43;
        margin-bottom: 1rem !important;
      }

      .img-wrapper {
        max-height: 280px;
        overflow: hidden;
      }
    }
  }

  .section-intro-customer {

    .section-header {
      margin-bottom: 5rem;
    }

    .row.row-flex .row-container {
      align-items: flex-start;
    }

    .col-left, .col-right {
      text-align: left;
    }

    .img-wrapper {
      position: relative;
      display: inline-block;

      img.badge {
        position: absolute;
        right: -2.5rem;
        bottom: -3rem;
      }
    }

    h3.company-name {
      margin-bottom: 1rem;
    }

    h3.location {
      margin-bottom: 3.5rem;
    }

    p.testimonial {
      color: #000000;
    }

    p.author-info {
      margin-bottom: 0 !important;
    }

    .company-info {
      margin-bottom: 3.5rem;
      margin-left: -70px;
    }

    .info-box {
      display: inline-block;
      padding: 0 1rem;
      border-right: 1px solid rgba(150, 155, 160, 0.6);
      min-width: 190px;
      text-align: center;

      &:last-child {
        border-right: none;
      }

      span {
        display: block;

        &.info-value {
          font-weight: 800;
          font-size: 2rem;
          line-height: 2rem;
          color: #9B51E0;
          margin-bottom: 1.5rem;
        }

        &.info-label {
          line-height: 1;
        }
      }
    }
  }

  .section-fav-features {
    .section-header {
      margin-bottom: 5rem;
    }

    .row.row-flex {
      .columns, .column-inner, .feature-box {
        height: 100%;
      }
    }

    .feature-box {
      padding: 3rem 4rem;
      background: #FFFFFF;
      border: 1px solid #E5E6E7;
      box-sizing: border-box;
      box-shadow: 0px 4px 40px rgba(138, 94, 166, 0.1);
      border-radius: 8px;

      h3 {
        line-height: 1.5rem;
        color: #452F53;
        margin-bottom: 1rem;
      }

      .img-wrapper {
        margin-bottom: 1rem;
      }

      p {
        color: #313A43;
        margin-bottom: 0 !important;
      }
    }
  }

  .section-cta-banner {
    .section-container {
      padding: 4.5rem 0;
      background-color: #F6F7F7;
    }

    .col-left {
      text-align: left;
    }
  }

  .section-customer-logos {
    .section-header {
      margin-bottom: 4rem;
    }
    ul.customer-logos {
      display: grid;
      align-items: center;
      margin: 0;
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 4rem;
      list-style-type: none;

      li {
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }

  .section-f-cta-banner {
    padding-top: 10rem;
    padding-bottom: 15rem;

    h3{
      color: #FFFFFF;
      margin-bottom: 2.5rem;
    }

    .column-inner {
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: -3rem;
        left: -2rem;
        width: 270px;
        height: calc(100% + 6rem);
        background-color: #AF96C2;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: -3rem;
        right: -2rem;
        width: 312px;
        height: 100%;
        background-color: #BBEAEA;
        z-index: -1;
      }
    }

    .banner-wrapper {
      text-align: left;
      padding: 5rem 13rem 5rem 10rem;
      background-color: #452f53;
      border-radius: 0 250px 0 0;
    }
  }

  .section-support {
    .col-right {
      .top {
        text-align: left;
        margin-right: 4rem;
        margin-bottom: 4rem;
      }

      h3 {
        max-width: 360px;
        margin-bottom: 2rem;
      }

      p.title {
        font-size: 12px;
        line-height: 1rem;
        color: #734e8a;
        letter-spacing: 0.08em;
      }

      p.description {
        color: #313A43;
        margin-bottom: 0 !important;
      }

      .bottom {
        .contact-info {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        .contact-box {
          border-right: 1px solid rgba(98, 105, 112, 0.5);

          &:last-child {
            border-right: none;
          }
        }

        span.contact-title {
          display: block;
          font-weight: bold;
        }

        a.contact-link {
          display: block;
          font-weight: bold;
          color: #8746A8;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .section-care {
    padding-bottom: 8rem;

    .row {
      position: relative;
    }

    .bg-container {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        bottom: -3rem;
        left: 0;
        width: 734px;
        height: 734px;
        background-color: #F6F7F7;
        border-radius: 50% 0 50% 0;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: -5rem;
        right: 0;
        width: 256px;
        height: 160px;
        background-color: #FDBA18;
        z-index: -1;
      }
    }

    .bg-layer {
      min-height: 1px;
    }
    .section-header {
      text-align: left;
      margin-bottom: 4.5rem;
    }

    .quote-container {
      padding: 0;
    }

    .quote-box {
      padding: 2.5rem 4rem;
      margin-bottom: 1.5rem;
      background: #FFFFFF;
      border: 1px solid #E5E6E7;
      box-sizing: border-box;
      box-shadow: 0px 4px 40px rgba(138, 94, 166, 0.1);
      border-radius: 8px;

      &:nth-child(2n) {
        margin-left: -6rem;
        margin-right: 6rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      p.author {
        font-size: 1.5rem;
      }

      p.content {
        color: #313A43;
        margin-bottom: 0.5rem !important;
      }

      p.source {
        font-size: 14px;
        text-align: right;
        color: #969BA0;
        margin-bottom: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {

header {
  box-shadow: 0px 7px 16px rgba(138, 94, 166, 0.13);
}

#hero-signup-form {
  margin-left: 0;
  flex-wrap: wrap;

  input[type="email"] {
    width: 100%;
  }

  button#create-account {
    width: 100%;
    margin-left: 0;
  }
}

.page-template-flexible-customer-mt54 {
  .section {
		padding: 3rem 0;
  }
  
  .section-hero {
    h2 {
      font-weight: bold;
    }

    .col-left {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .section-intro-tab {
    .tab-content {
      display: block;
      margin-bottom: 7.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      .col-left {
        margin-bottom: 2rem;
      }
    }
  }

  .section-intro-customer {
    .col-left, .col-right {
      text-align: center;
    }

    .col-left {
      margin-bottom: 4.5rem;
    }

    h3.location {
      font-size: 20px;
      margin-bottom: 2.5rem;
    }

    .company-info {
      display: flex;
      margin-left: 0;
      margin-bottom: 2.5rem;
    }

    .info-box {
      width: 33.3%;
      min-width: auto;

      span.info-value {
        font-size: 20px;
        line-height: 1.5rem;
        margin-bottom: 0.75rem;
      }

      span.info-label {
        font-size: 14px;
      }
    }
  }

  .section-fav-features {
    .row.row-flex {
      .columns, .column-inner, .feature-box {
        height: auto;
      }
    }

    .columns:not(:last-child) {
      margin-bottom: 1.5rem;
    }

  }

  .section-cta-banner {
    .col-left {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .col-right a {
      width: 100%;
    }
  }

  .section-customer-logos  {
    ul.customer-logos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .section-care {
    padding-bottom: 3rem;

    h2 {
      font-size: 2.5rem;
    }

    .bg-container::before {
      display: none;
    }

    .bg-container::after {
      content: "";
      position: absolute;
      top: 29%;
      right: 0;
      width: 128px;
      height: 128px;
      background-color: #fdba18;
      z-index: -1;
    }

    .section-header {
      text-align: center;
      margin: 0 -1rem 2.5rem;
      padding: 8.75rem 3.5rem;
      background-color: #f6f7f7;
      border-radius: 0 50% 0 50%;
    }

    .quote-box {
      padding: 3.5rem 2rem;

      &:nth-child(2n) {
        margin-left: 0;
        margin-right: 0;
      }

      p.content {
        margin-bottom: 1.5rem !important;
      }

      p.author {
        font-size: 20px;
        margin-bottom: 1.5rem !important;
      }
    }
  }

  .section-support {
    .col-left {
      margin-bottom: 1rem;

      .img-wrapper {
        margin: 0 -1rem;

        img {
          width: 100%;
        }
      }
    }
    .col-right {
      .top {
        margin-right: 0;
        margin-bottom: 3rem;
      }

      h3 {
        margin-bottom: 1.5rem;
      }

      p.title {
        margin-bottom: 2rem !important;
      }

      .bottom {
        .contact-info {
          grid-template-columns: repeat(1, 1fr);
        }

        .contact-box {
          width: 50%;
          margin: 0 auto;
          padding: 2rem 0;
          border-right: none;
          border-bottom: 1px solid rgba(98, 105, 112, 0.5);

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .section-f-cta-banner {
    padding-top: 0;
    padding-bottom: 10rem;

    .column-inner::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #af96c2;
      z-index: -1;
    }

    .column-inner::after {
      display: none;
    }

    .banner-wrapper {
      text-align: center;
      margin: 0 -1rem;
      padding: 7.5rem 3.5rem;
      border-radius: 0 150px;
    }
  }
}
}