header {
  background: transparent;
}


.section {
  text-align: center;
  padding: 5rem 0;
}

.section-hero {
  position: relative;
  padding: 0;
  .col-right {
    text-align: right;
  }

  .text-wrapper {
    position: relative;
    text-align: left;
    z-index: 1;

    h3 {
      margin-top: 1rem;
    }

    a.button {
      margin-top: 2rem;
    }
  }

  .row {
    position: relative;
    height: 720px;
    padding-top: 9rem;
    padding-bottom: 5rem;
    z-index: 1;
  }

  &.type1 {
    background: #F3EEF6;

    .col {
      margin: 0 auto;
    }

    .row {
      height: auto;
      padding-bottom: 3rem;
    }

    .text-wrapper {      
      text-align: center;

      h3 {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
      }

      a.button {
        margin-top: 1.5rem;
      }
    }

    .col-right {
      text-align: center;
      margin-top: 5rem;
    }

    .section-bglayer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ffffff;
    }

    &.timeclock {
      .section-bglayer {
        height: 280px;
      }
    }

    &.timesheet {
      .section-bglayer {
        height: 250px;
      }
    }
    
    &.scheduling {
      .col-right {
        margin-top: 4.5rem;
      }

      .section-bglayer {
        height: 295px;
      }
    }

    &.payroll {
      .section-bglayer {
        height: 30%;
      }
    }
  }

  &.type2 {
    .row {
      align-items: flex-start;
    }

    .col-left {
      position: relative;
      margin-top: 3rem;

      .column-inner {
        position: relative;
        z-index: 1;
      }
    }

    .col-bglayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .item::after {
        content: '';
        position: absolute;
        z-index: -1;
      }

      .item-1 {
        position: absolute;
        top: -7.5rem;
        right: -7rem;

        &::after {
          top: 3rem;
          right: 4rem;
          width: 80px;
          height: 80px;
          background-color: #8dd5e1;
          border-radius: 50px 50px 50px 0px;
        }
      }

      .item-2 {
        position: absolute;
        bottom: -10rem;
        right: 6rem;

        &::after {
          top: 4.5rem;
          right: 5rem;
          width: 70px;
          height: 70px;
          background-color: #F3EEF6;
          border-radius: 50px 50px 0px 50px;
        }
      }

      .item-3 {
        position: absolute;
        top: -1rem;
        left: -9rem;

        &::after {
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          background-color: #af74e6;
          border-radius: 0 50px 50px 50px;
        }
      }
    }

    .right-side {
      .img-wrapper {
        position: relative;
        right: -7rem;
      }
    }
  }

  &.type3 {
    .row {
      align-items: flex-start;
    }
    
    .col-left {
      position: relative;
      margin-top: 3rem;
    }

    .col-bglayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .item::after {
        content: '';
        position: absolute;
        z-index: -1;
      }

      .item-1 {
        position: absolute;
        top: -2rem;
        right: -3rem;

        &::after {
          bottom: 0;
          left: 0;
          width: 124px;
          height: 124px;
          background-color: #f6f7f7;
          border-radius: 50% 50% 50% 0;
        }
      }

      .item-2 {
        position: absolute;
        bottom: -4rem;
        right: 40%;

        &::after {
          top: 0;
          right: 0;
          width: 55px;
          height: 55px;
          background-color: #f6f7f7;
          border-radius: 50% 0 50% 50%;
        }
      }

      .item-3 {
        position: absolute;
        top: -1.5rem;
        left: -2.5rem;

        &::after {
          bottom: 0;
          right: 0;
          width: 60px;
          height: 60px;
          background-color: #f6f7f7;
          border-radius: 0 50% 50% 50%;
        }
      }
    }
    
    .col-right .col-inner {
    	position: unset;
    }

    .img-wrapper::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 100%;
      background-image: url(../../images/half-circle-blue.svg);
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      transform: translateX(50%);
      z-index: -1;
    }
  }

  &.type4 {
    background: #ffffff;

    .row {
      padding-top: 0;
      padding-bottom: 0;
    }

    .text-wrapper {
      position: relative;

      h3 {
        color: #ffffff;
        margin-top: 0;
      }

      a.button {
        margin-top: 2.5rem;
        color: var(--hb-purple);

        &:hover {
          color: #ffffff;
        }
      }

      .top-wrap {
        position: absolute;
        bottom: 2rem;
        left: 0;
      }

      .bottom-wrap {
        position: absolute;
        top: 2rem;
        left: 0;
      }
    }

    .section-bglayer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-color: #452f53;
    }

    &.timeclock {
      .img-wrapper {
        margin-top: 3rem;
      }
    }

    &.scheduling {
      .img-wrapper {
        margin-top: -2rem;
      }
    }

    &.timesheet {
      .img-wrapper {
        margin-top: -10rem;
      }
    }
  }
}

.section-2-columns {
  .text-wrapper {
    text-align: left;

    h3 {
      margin-bottom: 1.5rem;
    }

    p, li {
      color: #313A43;
    }

    ul li {
      margin-bottom: 1rem !important;
    }
  }

  .row.reverse .text-wrapper {
    padding-right: 5rem;
  }

  .img-wrapper {
    padding: 0 3rem;
  } 
}

.section-customer-quote {
  padding-top: 8rem;
  padding-bottom: 7rem;
  margin: 5rem 0;
  background-color: rgba(243, 238, 246, 0.4);

  h3.subheading {
    color: #452F53;
    text-align: right;
    margin-bottom: 2rem;
  }

  .quote-container {
    position: relative;
    padding-top: 0;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: -16rem;
      width: 18rem;
      height: 100%;
      background-color: #bbeaea;
      z-index: -1;
    }
  }

  .quote-wrapper {
    text-align: left;
    padding: 4rem 4rem 3rem 12rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(138, 94, 166, 0.14);
  }

  p.quote-message {
    color: #313A43;
    margin-bottom: 2rem !important;

    &::before {
      content: "";
      position: absolute;
      top: 3rem;
      left: 6rem;
      width: 42px;
      height: 33px;
      background-image: url(../../images/quote-mark-purple.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  p {
    color: #452f53;
    margin-bottom: 0 !important;
  }

  img.photo {
    position: absolute;
    top: -8rem;
    left: -16rem;
    width: 295px;
    height: 295px;
    object-fit: cover;
    border-radius: 50% 50% 50% 0;
    z-index: 10;
  }

  .quote-label {
    position: absolute;
    left: -9.5rem;
    bottom: 0;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: -3rem;
      width: 32px;
      height: 78px;
      background-image: url(../../images/arrow-curve.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    background: #ffffff;
  }

  main {
    padding-top: 3rem;
  }

  .section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .section-hero {
    padding-top: 4.5rem;

    .row {
      height: auto;
      min-height: auto;
      padding: 0 !important;
    }

    .text-wrapper {
      text-align: center;

      br {
        display: none;
      }

      h1 {
        padding: 0 2rem;
      }

      h3 {
        padding: 0 2.5rem;
      }

      a.button {
        margin-top: 2.5rem;
      }
    }

    &.type1 {

      .col-right {
        margin-top: 3.5rem;
      }

      &.timeclock .section-bglayer {
        height: 30%;
      }

      &.timesheet .section-bglayer {
        height: 27%;
      }

      &.scheduling .section-bglayer {
        height: 25%;
      }

      &.payroll {
        .section-bglayer {
          height: 25%;
        }
      }
    }

    &.type2 {

      .col-left {
        margin-top: 0rem;
      }

      .col-right {
        margin-top: 4rem;
      }

      .right-side {
        .img-wrapper {
          left: 2rem;
          right: auto;
          margin-bottom: 3rem;
        }
      }
    }

    &.type3 {

      .col-right {
        margin-top: 5rem;
        margin-bottom: 6rem;
      }
  
      .img-wrapper::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        width: 170px;
        height: 330px;
        background-image: url(../../images/half-circle-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        transform: none;
      }
    }

    &.type4 {
      background-color: #452f53;

      .text-wrapper {
        h1 {
          color: #ffffff;
        }

        h3 {
          margin-top: 1rem;
        }
        
        .top-wrap, .bottom-wrap {
          position: unset;
        }
      }

      .img-wrapper {
        margin-top: 0;
      }

      .col-right {
        margin-top: 4.5rem;
      }

      .section-bglayer {
        background-color: #ffffff;
      }

      &.timeclock {
        .img-wrapper {
          margin-top: 0;
        }

        .section-bglayer {
          height: 34%;
        }
      }

      &.timesheet {
        .col-right {
          margin-top: 4rem;
        }

        .img-wrapper {
          margin-top: 0;
        }

        .section-bglayer {
          height: 14%;
        }
      }
  
      &.scheduling {
        .col-right {
          margin-top: 4rem;
        }

        .img-wrapper {
          margin-top: 0;
        }

        .section-bglayer {
          height: 14%;
        }
      }

      &.payroll {
        .section-bglayer {
          height: 30%;
        }
      }
    }
  }

  .section-2-columns {
    .row,
    .row.reverse:not(.desktop-only) {
      flex-direction: column-reverse;

      .col-left {
        margin-top: 3rem;
      }
    }

    .row.reverse.desktop-only {
      flex-direction: column;
      .col-left {
        margin-top: 0;
      }

      .col-right {
        margin-top: 3rem;
      }
    }
    .text-wrapper {
      padding: 0 !important;
    }
    
    .img-wrapper {
      padding: 0;

      &.overflow {
        max-height: 250px;
        overflow: hidden;
      }
    }
  }

  .section-customer-quote {
    padding-top: 12rem;
    padding-bottom: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
    background-color: #ffffff;

    h3.subheading {
      display: none;
    }

    .quote-container::before {
      bottom: -2rem;
      left: -1rem;
      width: 8rem;
      height: calc(100% + 4rem);
    }

    .quote-wrapper {
      padding: 6.5rem 2rem 3.5rem;
      margin-left: 1rem;
    }

    p.quote-message::before {
      top: 3.5rem;
      left: 3rem;
    }

    img.photo {
      top: -190px;
      left: auto;
      right: 0;
      width: 190px;
      height: 190px;
      border-radius: 50% 50% 0 50%;
    }
  }

}

.section-cta-banner {
  overflow: hidden;

  h3 {
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }

  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 17px);
    height: 100%;
    margin: 0 calc((100% - 100vw + 17px)/2);
    background-color: #452f53;
    z-index: -1;
    overflow: hidden;
  }
  .bg-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .shape-3,
    .shape-2,
    .shape-1 {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    .shape-3 {
      z-index: 3;
    }

    .shape-2 {
      z-index: 2;
    }

    .shape-1 {
      z-index: 1;
    }
  }

  .banner-wrapper {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 25%;
    text-align: left;
    z-index: 1;

    &.aligned-left.shape-type1 {
      .shape-3 {        
        background-color: #8746A8;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        top: auto;
        bottom: 0;
        height: 50%;
        background-color: #BBEAEA; 
      }

      .shape-1 {
        height: 50%;
        background-color: #FDBA18; 
      }
    }

    &.aligned-left.shape-type2 {
      .shape-3 {        
        background-color: #BBEAEA;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        display: none;
      }

      .shape-1 {
        height: 50%;
        background-color: #8746A8;
      }
    }

    &.aligned-center {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;

      &.shape-type1 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #8746a8;
          border-radius: 0 0 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #FDBA18;
          border-radius: 50% 0 0 0;
          transform: translateX(53%);
        }
      }

      &.shape-type2 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #BBEAEA;
          border-radius: 0 50% 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #8746a8;
          border-radius: 0 0 0 50%;
          transform: translateX(53%);
        }
      }
    }
  }  
}

.section-signup-banner {
  .section-inner {
    padding: 3.5rem 0;
    background-color: #bbeaea;

    &.lpink {
      background-color: #F3EEF6;
    }
  }

  .container-narrow {
    max-width: 750px;
  }

  .banner-container {
    width: 100%;
  }

  .col-left {
    text-align: left;

    h3 {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0;
    }

    p {
      margin-top: 0.5rem;
    }
  }

  .col-right {
    text-align: right;
  }
}

@media screen and (max-width: 1200px) {
  .section-cta-banner {
    .banner-wrapper {
      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          transform: translateX(53%) !important;
        }
      }

      &.aligned-center {
        padding-left: 15%;
        padding-right: 15%;

        .shape-1 {
          transform: translateX(60%) !important;
        }

        .shape-3 {
          transform: translateX(-60%) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .section-cta-banner {
    br {
      display: none;
    }

    .bg-layer {
      width: 100%;
      margin: 0;
    }

    .banner-wrapper {
      text-align: center !important;
      padding: 5rem 10% !important;
      margin: 0 -1rem;

      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 50% 0 0 0 !important;
          transform: translateX(53%) !important;
          opacity: 0.5;
        }
      }

      &.aligned-center {
        .shape-1 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 0 50% 50% 0 !important;
          opacity: 0.5;
        }
      }
    }
  }
  .section-signup-banner {
    .section-inner {
      padding: 2.5rem 2rem;
    }
  
    .col-left {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .col-right {
      text-align: center;
    }
  }
}

.section-rating {
  position: relative;
  text-align: left;
  padding: 10rem 0;
  margin: 5rem  0;

  .bglayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F3EEF6;
  }

  .rating-header {
    h3 {
      margin-top: 2rem;
    }
  }

  .col-board-wrapper {
    text-align: center;
  }

  .rating-container {
    display: inline-block;
    padding: 2.5rem;
    background: #FFFFFF;
    border: 1px solid #E5E6E7;
    box-shadow: 0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius: 8px;
  }

  .rating-board {
    display: flex;
    justify-content: center;
    margin: 0 -1rem;
  }

  .rating-date {
    margin-top: 2rem;
  }

  .rating-box {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 33.3%;
    max-width: 230px;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 2rem;
      height: calc(100% - 4rem);
      border-right: 1px solid #E5E6E7;
    }

    &:last-child::before {
      display: none;
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 2rem;
      width: calc(100% - 2rem);
      border-bottom: 1px solid #e5e6e7;;
    }
  }

  .rscore {
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rlabel {
    font-size: 14px;
    color: var(--hb-light-grey);
    margin-top: 1rem;
  }
  .rquote {
    font-size: 16px;
    color: var(--hb-dark-purple);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
  }
  .plogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 52px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &.halfbg {
    padding: 5rem 0;
    margin-bottom: 0;

    .bglayer {
      height: 60%;
    }

    .rating-header {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 2rem;
      text-align: center;

      br {
        display: none;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        color: var(--hb-dark-purple);
      }
    }
  }
}

@media screen and (max-width: 1152px) {
  .section-rating {
    .rating-header {
      text-align: center;
      margin-bottom: 2rem;

      br {
        display: none;
      }

      h3 {
        margin-top: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .section-rating {
    &.halfbg {
      .rating-container {
        max-width: 500px;
      }

      .rating-board {
        flex-wrap: wrap;
      }

      .rating-box {
        width: 50%;
  
        &:nth-child(1)::after,
        &:nth-child(2)::after {
          display: block;
        }
  
        &:nth-child(2)::before {
          display: none;
        }
        &:nth-child(2)::after {
          left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-rating {
    .rating-container {
      max-width: 500px;
    }


    .rating-board {
      flex-wrap: wrap;
    }
    
    .rating-box {
      width: 50%;

      &:nth-child(1)::after,
      &:nth-child(2)::after {
        display: block;
      }

      &:nth-child(2)::before {
        display: none;
      }
      &:nth-child(2)::after {
        left: 0;
      }
    }

    
  }
}

@media screen and (max-width: 640px) {
  .section-rating {
    padding: 3rem 0 !important;
    margin: 2.5rem 0;
    text-align: center;

    .rating-header {  
      display: flex;
      flex-direction: column-reverse;

      h3 {
        font-size: 18px;
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    .rating-container {
      margin: 0 auto;
      padding: 2.5rem 2rem;
    }
  
    .rating-board {
      margin: -2rem -1rem;
    }

    .rquote {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.02em;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }

    .rating-date {
      margin-top: 2.5rem;
    }

    &.halfbg {      
      .bglayer {
        height: 60%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .section-rating {
    h2 {
      font-size: 36px;
      line-height: 2.5rem;
    }
    
    .rating-container {
      max-width: 235px !important;
    }

    .rating-box {
      width: 100% !important;

      &::before {
        display: none;
      }

      &::after {
        display: block;
        left: 2rem !important;
        width: calc(100% - 4rem) !important;
      }

      &:last-child::after {
        display: none;
      }
    }

    .plogo {
      min-height: auto;
    }

    .rscore {
      min-height: auto;
    }

    .rating-header {  
      h2 br {
        display: block !important;
      }
    }
  }
}
