$white: #ffffff;
$white-medium: #f7f4f4;

$black: #000000;
$black-light: #333333;

$gray-lightest: #FDFDFD;
$gray-light: #F9F9FB;
$gray-medium: #e3e3e3;
$gray-medium-dark: #BDC3CC;
$gray-dark: #959eac;
$gray-xdark: #788292;

$red: #F44322;
$red-orange: #ee6844;

$orange: #fb9253;
$orange-dark: #de7a3f;

$red: #F44322;

$yellow: #ebc541;
$yellow-dark: #e0af49;

$aqua: #78d0a8;

$lime: #88cd1a;

$pink-light: #f8a2ab;
$pink: #A969A9;

$green-light: #A7CF74;
$green: #60b86b;
$green-dark: #489c52;

$blue-light: #95c7cf;
$blue: #39ACBF;
$blue-medium: #4c95a1;
$blue-dark: #327a86;

$steel-blue: #4B77BE;

$navy-light: #5F6A7D;
$navy: #2E3F48;
$navy-medium: #233139;
$navy-dark: #233139;

$purple-light: #d7c4d7;
$purple: #8A5EA6;
$purple-medium: #7E5499;
$purple-dark: #634279;

$violet: #b594d1;
$violet-medium: #a27dc1;
$violet-dark: #886ba2;
$violet-xdark: #612A61;