.bg--purple {
  background: $purple;
}
.bg--pink {
  background: $pink;
}
.bg--violet {
  background: $violet;
}
.bg--blue {
  background: $blue;
}
.bg--navy-light {
  background: $navy-light;
}
.bg--navy {
  background: $navy;
}
.bg--gray-light {
  background: $gray-light;
}
.bg--gray-dark {
  background: $gray-dark;
}
.bg--green {
  background: $green;
}
.bg--orange {
  background: $orange;
}
.bg--red {
  background: $red;
}
.bg--white {
  background: $white;
}
.text--white {
  color: $white;
}
.text--purple {
  color: $purple;
}
.text--pink {
  color: $pink;
}
.text--violet {
  color: $violet;
}
.text--blue {
  color: $blue;
}
.text--navy-light {
  color: $navy-light;
}
.text--navy {
  color: $navy;
}
.text--gray-light {
  color: $gray-light;
}
.text--gray-dark {
  color: $gray-dark;
}
.text--green {
  color: $green;
}
.text--orange {
  color: $orange;
}
.text--red {
  color: $red;
}
