@font-face {
  font-family: Caveat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Caveat-Regular.ttf');
}

.eoy {
  .eoy-countdown {
    display: none !important;
  }

  header {
    &.fixed {
      top: 0;

      &.scrolled {
        top: 0;
      }
    }
  }
}


main {
  overflow: unset;
}

#hero-signup-form {
  display: flex;

  .form-item {
    margin-right: 0;
  }

  input[type="email"] {
    height: 3rem;
    margin-bottom: 0;
    padding-right: 2rem;
    border: 1px solid #000;

    &::placeholder {
      color: #969BA0;
    }
  }

  button#create-account {
    margin-left: -2.5rem;
    min-width: 211px;
  }
}

@media screen and (max-width: 640px) {
  #hero-signup-form {
    margin-left: 0;
    flex-wrap: wrap;
  
    input[type="email"] {
      width: 100%;
    }
  
    button#create-account {
      width: 100%;
      margin-left: 0;
    }
  }
}

.main-inner-wrapper {
  overflow: inherit;
}

.section {
  padding: 5rem 0;
  text-align: center;
}

.has-fixed-header > .section:not(.section-navbar):first-child {
  padding-top: 8rem;
}

.section-hero {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  overflow: hidden;
  background-color: #441663;
  background-image: url(../../images/influencers-hero-bg.png);

  .container {
    position: relative;
  }

  .col-left {
    text-align: left;

    .text-wrapper {
      margin-left: 4rem;
      margin-right: 2rem;

      &.nomargin {
        margin-left: 0;
        margin-right: 0;
      }
    }

    h1 {
      margin-bottom: 1.5rem;
    }
  
    h2 {
      margin-bottom: 1.5rem;
      color: var(--hb-magnolia);
      font-size: 58px;
      line-height: 125%;
      margin-bottom: 2.5rem;
    }

    p {
      &.subheading {
        color: var(--hb-magnolia);
        font-size: 22px;
        line-height: 2rem;
        margin-bottom: 2.5rem;
      }
    }

    .coupon {
      padding: 20px;
      border: 4px dashed #9C49EE;
      position: relative;

      .bold-mobile {
          font-weight: 500;
        }

        .bold-desktop {
          font-weight: 700;
        }

      .headline {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 10px;
      }

      .subheadline {
        font-size: 16px;
        line-height: 24px;
        color: var(--hb-magnolia);
      }

      .caption {
        font-family: Caveat;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #F6F7F7;
        position: absolute;
        right: -170px;
        bottom: -60px;
        transform: rotate(-17.58deg);

        &::before {
          content: "";
          position: absolute;
          background: url(../../images/influencers-hero-coupon-caption-arrow.svg);
          width: 36px;
          height: 50px;
          left: -35px;
          top: -20px;
          transform: rotate(17.58deg);
        }
      }

      &::before {
          content: "";
          position: absolute;
          background: url(../../images/influencers-hero-coupon-arrow-left.svg);
          width: 48px;
          height: 59px;
          left: -25px;
          bottom: -25px;
        }
    }

    form {
      margin-top: 2.5rem;

      #create-account {
        border-color: #FB1FFF;
        background-color: #FB1FFF;

        &:hover {
          color: #FB1FFF;
          background-color: #fff;
        }
      }
    }

    .caption {
      font-size: 13px;
      color: #BB6BD9;
      line-height: 1.5rem;
      margin-top: 12px;
    }

    a.button {
      margin-top: 2rem;
    }
  }
  .col-right {
    position: relative;
    text-align: right;

    &.center {
      text-align: center;
    }

    .col-wrapper {
      position: relative;
    }

    .col-inner {
      margin-right: -4rem;
    }

    .hero-video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .ytp-impression-link {
          display: none;
        }
      }
    }
  }

  .bg-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-10%);

    .bg-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;      
      background-color: #E9F8FC;
      -webkit-clip-path: circle(47.6% at 82% -10%);
      clip-path: circle(47.6% at 82% -10%);
    }

    &.lpink {
      .bg-inner {
        background-color: #F3EEF6;
      }
    }
  }

  .img-wrapper {
    margin: 0 auto;
    max-width: 100%;

    &-sub {
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      position: relative;
    }
  }

  &.pro-scheduling .subheading {
    color: #313A43;
  }

  &.pro-team .img-wrapper-sub {    
    top: 5%;
    left: -1%;
  }
}

.section-slider {
  padding: 2.5rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headline {
      font-weight: 900;
      font-size: 28px;
      line-height: 2rem;
      letter-spacing: 0.02em;
      margin-bottom: 1.5rem;
    }

    .subheading {
      margin-bottom: 5rem;
    }

    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 992px;

      .col-left {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 416px;

        .item {
          opacity: 0.6;

          .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            cursor: pointer;

            h3 {
              font-weight: 800;
              font-size: 22px;
              line-height: 32px;
              color: var(--hb-purple);
            }

            img {
              display: none;
            }   
          }

          .subtitle {
            margin-bottom: 20px;
            display: none;

            p {
              color: var(--hb-dark-grey);
              text-align: left;
            }
          }

          .progress-bar-wrapper {
            width: 100%;
            height: 2px;
            background-color: var(--hb-dark-purple);

            .progress-bar {
              height: 6px;
              background-color: var(--hb-purple);
              width: 0;
              position: relative;
              top: -4px;
              display: none;
            }
          }

          .image {
            display: none;
          }

          &.active {
            opacity: 1;

            .title {
              h3 {
                color: var(--hb-purple);
              }

              img {
                display: block;
              }      
            }

            .subtitle {
              display: block;
            }

            .progress-bar-wrapper {
              .progress-bar {
                display: block;
              }
            }
          }
        }

        .button-wrapper {
          text-align: left;
          margin-top: 1.5rem;
        }    
      }

      .col-right {
        .item {
          opacity: 0;
          position: absolute;
          transition: all 0.5s;

          .image {
            max-width: 480px;
            margin: 0 auto;
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }    
  }
}

.section-customer-quote {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin-top: 4rem;

  .container-narrow {
    display: flex;

    .col-left {
      .image {
        margin: -5rem 55px -5rem -55px;
      }
    }

    .col-right {
      display: flex;
      flex-direction: column;
      gap: 35px;

      .quote {
        text-align: left;

        p {
          font-size: 22px;
          line-height: 32px;
          color: #2F0949;
        }
      }

      .author-info {
        display: flex;
        position: relative;
        align-items: center;

        .name {
          padding-right: 15px;

          p {
            font-family: 'Caveat';
            font-size: 28px;
            letter-spacing: -0.02em;
            color: #441663;
          }
        }

        .divider {
          background-color: #6B18A7;
          width: 2px;
          height: 41px;
        }

        .info {
          display: flex;
          flex-direction: column;
          padding-left: 11px;

          .company {
            color: #2F0949;
            font-weight: 700;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin-bottom: 0;
          }

          .whois {
            color: #8F29CE;
            font-weight: 700;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            text-align: left;
          }
        }

        &::before {
            position: absolute;
            content: "";
            background-image: url(../../images/scheduling-customer-quote-arrow.svg);
            width: 83px;
            height: 41px;
            left: -83px;
            top: -41px;
          }
      }
    }
  }
}

.section-cta-banner {
  overflow: hidden;
  padding-bottom: 0;

  h3 {
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }

  .bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: 100%;
    margin: 0 calc((100% - 100vw)/2);
    background-color: #452f53;
    z-index: -1;
    overflow: hidden;
  }

  .bg-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .shape-3,
    .shape-2,
    .shape-1 {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      aspect-ratio: 1 / 1;
    }

    .shape-3 {
      z-index: 3;
    }

    .shape-2 {
      z-index: 2;
    }

    .shape-1 {
      z-index: 1;
    }
  }

  .banner-wrapper {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 25%;
    text-align: left;
    z-index: 1;

    &.aligned-left.shape-type1 {
      .shape-3 {        
        background-color: #8746A8;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        top: auto;
        bottom: 0;
        height: 50%;
        background-color: #BBEAEA; 
      }

      .shape-1 {
        height: 50%;
        background-color: #FDBA18; 
      }
    }

    &.aligned-left.shape-type2 {
      .shape-3 {        
        background-color: #BBEAEA;
        border-radius: 50% 50% 50% 0;
      }

      .shape-2 {
        display: none;
      }

      .shape-1 {
        height: 50%;
        background-color: #8746A8;
      }
    }

    &.aligned-center {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;

      &.shape-type1 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #8746a8;
          border-radius: 0 0 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #FDBA18;
          border-radius: 50% 0 0 0;
          transform: translateX(53%);
        }
      }

      &.shape-type2 {   
        .shape-3 {
          left: 0;
          right: auto;
          background-color: #BBEAEA;
          border-radius: 0 50% 50% 0;
          transform: translateX(-53%);
        }

        .shape-2 {
          display: none;
        }

        .shape-1 {
          height: 100%;
          background-color: #8746a8;
          border-radius: 0 0 0 50%;
          transform: translateX(53%);
        }
      }
    }
  } 

  .container-narrow {
    .col-inner {
      align-items: center;

      .banner-wrapper {
        padding: 88px 0 2.5rem;
        position: relative;

        ul.tick {
          display: flex;
          margin-bottom: 2.5rem;

          li {
            background-image: url(../../images/influencers-cta-tick.svg);
            color: #fff;
            margin-bottom: 0;
            font-weight: 700;

            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }

        .caption {
          color: #fff;
          font-family: Caveat;
          font-size: 22px;
          line-height: 28px;
          font-weight: 700;
          letter-spacing: -0.02em;
          transform: rotate(-12.72deg);
          position: absolute;
          right: -130px;
          top: 30px;
          text-align: left;

          br {
            &.desktop {
              display: block;
            }

            &.mobile {
              display: none;
            }
          }

          &::before {
            content: "";
            background: url(../../images/influencers-cta-arrow.svg);
            position: absolute;
            width: 49px;
            height: 31px;
            left: -20px;
            top: -15px;
            transform: rotate(12.72deg);
          }
        }
      }
    }    
  } 
}


@media screen and (max-width: 1400px) {
  .section-customer-quote {
    .front-image {
      right: 65%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-hero {
    .container {
      .col-right {
        &.hero-video-popup {
          padding: 0 1rem;
        }
      }
    }
  }

  .section-cta-banner {
    .banner-wrapper {
      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          transform: translateX(53%) !important;
        }
      }

      &.aligned-center {
        padding-left: 15%;
        padding-right: 15%;

        .shape-1 {
          transform: translateX(60%) !important;
        }

        .shape-3 {
          transform: translateX(-60%) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-hero {
    .col-left {
      h2 {
        font-size: 50px;
      }
    }

    .col-right {
      .col-inner {
        margin-right: 0;
      }
    }
  }

  .section-cta-banner {
    .container-narrow {
      .col-inner {
        .banner-wrapper {
          max-width: 400px;

          ul {
            &.tick {
              flex-wrap: wrap;
              justify-content: space-between;
            }
          }

          .caption {
            top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  header {
    &.mmheader {
      .hb-branding {
        img {
          filter: brightness(0) saturate(100%) invert(35%) sepia(8%) saturate(5285%) hue-rotate(237deg) brightness(94%) contrast(91%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: #fff;

    .hb-branding {
      img {
        filter: brightness(0) saturate(100%) invert(35%) sepia(8%) saturate(5285%) hue-rotate(237deg) brightness(94%) contrast(91%);
      }
    }
  }

  .section-customer-quote {
    .container-narrow {
      flex-direction: column;
      align-items: center;

      .col-left {
        .image {
          margin: -5rem 2.5rem 0;
        }
      }

      .col-right {
        gap: 20px;
        
        .quote {
          margin: 0;
          padding: 20px 0 0;

          p {
            font-size: 15px;
            line-height: 1.5rem;
          }
        }

        .author-info {
          padding: 0;

          .name {
            margin-bottom: 11px;
          }

          .info {
            padding-left: 0;

            .whois {
              text-align: center;
            }
          }
        }
      }
    }
    .quote-headline {
      order: 1;
      margin-bottom: 200px;
    }

    .quote {
      order: 4;
      margin: -24px 0 0;
      padding: 50px 1rem 0;
      width: 100%;

      p {
        margin: auto;
        text-align: center;
      }
    }

    .author-info {
      order: 5;
      margin: 0;
      width: 100%;
      flex-direction: column;

      &::before {
        display: none;
      }

      .divider {
        display: none;
      }

      .name {
        padding: 0;
      }

      .info {
        padding: 0;

        .whois {
          text-align: center;
        }
      }
    }
  }

  .section-cta-banner {
    .container-narrow {
      .col-inner {
        .banner-wrapper {
          max-width: 400px;

          ul {
            &.tick {
              flex-wrap: wrap;
              justify-content: space-between;
            }
          }

          .caption {
            font-size: 18px;
            line-height: 22px;
            right: calc(50% - 68px);
            top: 30px;

            br {
              &.desktop {
                display: none;
              }

              &.mobile {
                display: block;
              }
            }

            &::before {
              left: unset;
              right: -25px;
              top: 30px;
              transform: rotate(-20deg);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    box-shadow: none;
  }

  .has-fixed-header > .section:not(.section-navbar):first-child {
    padding-top: 6rem;
  }

  .section {
    padding: 2.5rem 0;
  }

  .section-hero {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 50px;

    .col-left {
      text-align: center;
      margin-bottom: 30px;

      .text-wrapper {
        margin-left: 0;
        margin-right: 0;
      }

      .col-inner {
        align-items: center;
      }

      h2 {
        font-size: 36px;
        line-height: 2.5rem;
        margin-bottom: 30px;
      }

      p.subheading {
        margin-bottom: 90px;
        max-width: 100%;
        font-size: 18px;
        line-height: 1.5rem;
      }

      br {
        display: none;
      }

      .coupon {
        .bold-mobile {
          font-weight: 700;
        }

        .bold-desktop {
          font-weight: 400;
        }

        .headline {
          font-size: 18px;
          line-height: 1.5rem;
          font-weight: 400;
        }

        .caption {
          font-size: 18px;
          line-height: 22px;
          transform: rotate(0);
          right: calc(50% - 117px);
          bottom: unset;
          top: -50px;

          &::before {
            left: unset; 
            right: -30px;
            top: 0px;
            transform: rotate(245deg) scale(0.8);
          }

          br {
            display: none;
          }
        }

        &::before {
          display: none;
        }
      }
    }

    .col-right {
      text-align: center;

      .col-inner {
        margin-right: 0;
      }
    }

    .bg-layer {
      display: none;
    }

    .img-wrapper-main {
      position: relative;
    }
  }

  .section-slider {
    padding-top: 0;

    h2,
    h3 {
      display: none;
    }

    .container {
      .content {
        .col-left {
          max-width: none;
          
          .item {
            .title {
              h3 {
                display: block;
              }

              img {
                display: none;
              }
            }

            &.active {
              .title {
                img {
                  display: none;
                }
              }
              .image {
                display: block;
              }
            }
          }

          .button-wrapper {
            .button {
              width: 100%;
            }
          }
        }

        .col-right {
          display: none;
        }
      }
    }    
  }

  .section-cta-banner {

    .container-narrow {
      .col-inner {
        padding: 0;

        .banner-wrapper {
          padding: 80px 1rem 46px;
          max-width: unset;
          width: 100%;

          h3 {
            font-size: 22px;
          }

          .button {
            width: 100%;
          }

          ul {
            max-width: 400px;
            margin: 0 auto 2.5rem;

            &.tick {
              li {
                padding-left: 20px;
                margin-right: 0 !important;
                margin-bottom: 20px !important;
              }
            }
          }
        }
      }
      
    }
    .bg-layer {
      width: 100%;
      margin: 0;
    }

    .banner-wrapper {
      text-align: center !important;
      margin: 0 -1rem;

      &.aligned-left {
        .shape-1, .shape-2 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 50% 0 0 0 !important;
          transform: translateX(53%) !important;
          opacity: 0.5;
        }
      }

      &.aligned-center {
        .shape-1 {
          display: none;
        }

        .shape-3 {
          background-color: #8746a8 !important;
          border-radius: 0 50% 50% 0 !important;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (min-width: 641px) {
  header {
    &:not(.scrolled) {
      .main-navigation {
        ul {
          a {
            color: #fff;
          }

          &.dropdown {
            a {
              color: #6d6868;

              &:hover {
                color: var(--hb-purple);
              }
            }
          }
        }      
      }

      #hb-signbuttons {
        li {
          a {
            &.button {
              &.simple {
                color: #fff;

                &:hover {
                  border-color: #fff;
                }
              }

              &.primary {
                color: #fff;
                border-color: #fff;
                background-color: transparent;

                &:hover {
                  background-color: #fff;
                  color: var(--hb-purple);
                }
              }
            }
          }
        }
      }
    }

    &.scrolled {
      .logo {
        img {
          filter: brightness(0) saturate(100%) invert(35%) sepia(8%) saturate(5285%) hue-rotate(237deg) brightness(94%) contrast(91%);
        }
      }
    }    
  }
}
