.section-image-boxes {
  padding-bottom: 100px;

  .container {
    .headline {
      margin-bottom: 3rem;
      text-align: center;
      font-size: 22px;
      line-height: 2rem;
      font-weight: 800;
      color: #252525;
    }

    .image-boxes {
      display: flex;
      gap: 2rem;

      .image-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;

        .image {
          margin-bottom: 1.5rem;
          max-width: 250px;
          height: auto;
        }

        .title {
          margin-bottom: 0.75rem;          
          font-weight: 700;
          color: var(--hb-dark-grey);

          p {
            font-size: 22px;
            line-height: 32px;
          }
        }

        .text {
          p {
            font-size: 15px;
            line-height: 1.5rem;
            color: var(--hb-dark-grey);
          }          
        }
      }
    }    
  }

  &:last-of-type {
    padding: 60px 0;

    .container {
      .headline {
        font-size: 28px;
      }

      .image-boxes {
        .image-box {
          .image {
            max-width: 120px;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
	.section-image-boxes {
    padding-bottom: 1.5rem;

  	.container {
      .headline {
        font-size: 18px;
        line-height: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .image-boxes {
        flex-direction: column;
        gap: 20px;

        .image {
          margin-bottom: 18px;
        }

        .title {
          p {
            font-size: 18px;
            line-height: 1.5rem;
          }
        }
      }
    }

    &:last-of-type {
      padding: 40px 0;

      .container {
        padding: 0 40px;

        .headline {
          font-size: 25px;
          line-height: 2rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}