/*Formatted and beautified*/
@media (min-width:640px){
    .page-template-flexible-btb-mt59 .main-wrapper .header-inner .top-bar{
        border-bottom:none;
    }
    .page-template-flexible-btb-mt59 .top-bar-section > ul:last-child li a,.page-template-flexible-btb-mt59 .top-bar-section > ul:last-child li a:focus{
        border-radius:30px;
    }
}
.page-template-flexible-btb-mt59 .row{
    max-width:100%;
}
.page-template-flexible-btb-mt59 .row .row{
    margin:0;
}
@media screen and (min-width:1100px){
    .page-template-flexible-btb-mt59 .row{
        max-width:1100px;
        margin:0 auto;
    }
}
.page-template-flexible-btb-mt59 h1{
    font-size:50px;
    font-weight:bold;
    line-height:54px;
    color:#452f53;
}
.page-template-flexible-btb-mt59 h2{
    font-weight:bold;
    font-size:36px;
    line-height:40px;
    color:#452f53;
}
.page-template-flexible-btb-mt59 h3{
    font-size:24px;
    font-weight:600;
    line-height:28px;
    color:#452f53;
}
.page-template-flexible-btb-mt59 p{
    font-size:16px;
    font-weight:600;
    line-height:22px;
    color:#452f53;
}
.page-template-flexible-btb-mt59 main .main-inner-wrapper > .container{
    display:flex;
    flex-direction:column;
}
.page-template-flexible-btb-mt59 .clearfix{
    clear:both;
}
.page-template-flexible-btb-mt59 .clearfix:after{
    clear:both;
    content:"";
    display:table;
}
.page-template-flexible-btb-mt59 .section .row{
    margin-bottom:40px;
}
.page-template-flexible-btb-mt59 .section .row:last-child{
    margin-bottom:0;
}
.page-template-flexible-btb-mt59 .section-hero{
    padding:3rem 0;
    /* by the numbers */
}
.page-template-flexible-btb-mt59 .section-hero p{
    font-size:18px;
    font-weight:normal;
    line-height:24px;
    color:#313a43;
    margin-bottom:0 !important;
}
.page-template-flexible-btb-mt59 .section-hero .headline{
    margin-bottom:34px;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container{
    position:relative;
    max-width:890px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container::before{
    content:"";
    position:absolute;
    top:0px;
    left:-187px;
    width:200px;
    height:157px;
    background-image:url(../img/btb-hero-bg-l-1.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container::after{
    content:"";
    position:absolute;
    bottom:-46px;
    right:-154px;
    width:196px;
    height:212px;
    background-image:url(../img/btb-hero-bg-r-1.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container.detail::before{
    top:-25px;
    left:-175px;
    width:180px;
    height:155px;
    background-image:url(../img/btb-hero-bg-l-2.png);
    background-size:cover;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container.detail::after{
    bottom:-42px;
    right:-131px;
    width:177px;
    height:182px;
    background-image:url(../img/btb-hero-bg-r-2.png);
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container .content-wrapper{
    position:relative;
    padding:37px 30px 33px;
    background:#fff;
    box-shadow:0px 4px 21px rgba(138, 94, 166, 0.14);
    border-radius:5px;
    z-index:1;
}
.page-template-flexible-btb-mt59 .section-hero .row.content .container h3{
    margin-bottom:17px;
}
.page-template-flexible-btb-mt59 .section-by-numbers{
    padding-top:20px;
    padding-bottom:0;
}
.page-template-flexible-btb-mt59 .section-by-numbers h3{
    font-size:18px;
    line-height:24px;
    font-weight:normal;
    margin-bottom:20px;
}
.page-template-flexible-btb-mt59 .section-by-numbers a{
    position:relative;
    font-weight:600;
    font-size:18px;
    line-height:22px;
    color:#734e8a;
}
.page-template-flexible-btb-mt59 .section-by-numbers a.more-link{
    padding-right:58px;
}
.page-template-flexible-btb-mt59 .section-by-numbers a.more-link::after{
    content:"";
    position:absolute;
    top:-1px;
    right:7px;
    width:28px;
    height:28px;
    background-image:url(../img/arrow-right.png);
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid{
    display:flex;
    flex-wrap:wrap;
    max-width:960px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .columns{
    margin-bottom:40px;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card{
    background:#fff;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    box-shadow:0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius:8px;
    margin:0 30px;
    padding:25px 50px;
    height:100%;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .title{
    font-weight:600;
    font-size:18px;
    color:#000;
    margin-bottom:20px;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .chart{
    height:130px;
    margin-bottom:20px;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .chart img{
    height:100%;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .value{
    font-weight:bold;
    font-size:46px;
    line-height:1;
    margin-bottom:10px;
}
.page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .card-desc{
    font-weight:600;
    font-size:16px;
    line-height:21px;
    color:#000;
}
.page-template-flexible-btb-mt59 .section-form-widget{
    padding:30px;
}
.page-template-flexible-btb-mt59 .section-form-widget.section-5{
    padding-top:50px;
    padding-bottom:0;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container{
    max-width:930px;
    margin:0 auto;
    padding:0 15px;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container.boxed{
    padding:45px 15px;
    box-shadow:0px 4px 21px rgba(138, 94, 166, 0.14);
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .header h3{
    margin-top:0;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container h4{
    font-weight:600;
    font-size:20px;
    color:#452f53;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .row.header{
    margin-bottom:10px;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input{
    display:inline-flex;
    align-items:center;
    margin-bottom:0;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="text"],.page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="email"]{
    font-size:16px;
    border-radius:100px;
    width:330px;
    height:42px;
    margin:0 5px;
    padding:0 20px;
    border:none;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="submit"]{
    position:relative;
    float:right;
    height:42px;
    border:none;
    border-radius:40px;
    background-color:#8a5ea6;
    color:#fff;
    margin-top:0;
    font-weight:600;
    font-size:18px;
    line-height:20px;
    text-transform:none;
    transition:all 300ms ease-out;
    padding:0;
    margin:0 5px;
    width:130px;
    flex:1;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="submit"]:active,.page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="submit"]:hover{
    border:1px solid #8a5ea6;
    color:#8a5ea6;
    background-color:#fff;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-image:url(../img/arrow-down-mark.png);
    background-position:right 20px center;
    background-size:16px;
    border-radius:100px;
    width:330px;
    margin:0 5px;
    height:43px;
    font-size:16px;
    line-height:22px;
    padding:0 20px;
    border:none;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container select::-ms-expand{
    display:none;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .btb-zip-search-results{
    margin-top:0.5rem;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .btb-zip-search-results ul.result-list{
    list-style:none;
    text-align:left;
    max-width:330px;
    padding:0 20px;
    margin:0 auto;
    max-height:300px;
    overflow-y:auto;
    background-color:rgba(255, 255, 255, 0.4);
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container .btb-zip-search-results ul.result-list li{
    line-height:2;
    text-decoration:underline;
}
.page-template-flexible-btb-mt59 .section-form-widget .form-container #btb-form-wrapper input[type="submit"]{
    display:none;
}
.page-template-flexible-btb-mt59 .section-social-group h3{
    font-size:24px;
    font-weight:normal;
    margin:0;
    line-height:32px;
}
.page-template-flexible-btb-mt59 .section-social-group .group-container{
    max-width:820px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-social-group .group-container .row{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.page-template-flexible-btb-mt59 .section-social-group .button-container ul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
    margin:0;
}
.page-template-flexible-btb-mt59 .section-social-group .button-container ul li a{
    position:relative;
    display:block;
    width:45px;
    height:45px;
    list-style:none;
    border-radius:50%;
}
.page-template-flexible-btb-mt59 .section-social-group .button-container ul li a img{
    position:absolute;
    top:50%;
    left:50%;
    height:50%;
    transform:translate(-50%, -50%);
}
.page-template-flexible-btb-mt59 .section-training-widget{
    padding-top:27px;
}
.page-template-flexible-btb-mt59 .section-training-widget h2{
    margin-bottom:0;
}
.page-template-flexible-btb-mt59 .section-training-widget h3{
    font-size:20px;
    line-height:28px;
    font-weight:normal;
    margin-bottom:0;
}
.page-template-flexible-btb-mt59 .section-training-widget .row{
    margin-bottom:50px;
}
.page-template-flexible-btb-mt59 .section-training-widget .row:first-child{
    margin-bottom:40px;
}
.page-template-flexible-btb-mt59 .section-training-widget .field-container{
    max-width:1024px;
    margin:0 auto;
    padding:0 15px;
}
.page-template-flexible-btb-mt59 .section-training-widget .field-container h3{
    font-size:26px;
    line-height:32px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:24px;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container{
    list-style:none;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap:45px;
    grid-row-gap:20px;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .row{
    margin:0;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .trianing-box{
    background:#fff;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    box-shadow:0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius:8px;
    overflow:hidden;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining{
    display:flex;
    align-items:center;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .left-col{
    overflow:hidden;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .left-col img{
    height:148px;
    width:160px;
    object-fit:cover;
    transition:all 700ms ease-out;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col{
    text-align:left;
    padding:0 20px;
    flex:1;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col .summary{
    font-weight:600;
    font-size:16px;
    line-height:22px;
    color:#452f53;
    margin-bottom:20px;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col .summary:hover{
    color:#8857ac;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col .training-link{
    font-weight:bold;
    font-size:14px;
    color:#04a2bd;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col .training-link:hover{
    color:#026677;
}
.page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining:hover .left-col img{
    transform:scale(1.1);
}
.page-template-flexible-btb-mt59 .section-impact-table{
    padding-top:0px;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container{
    background-color:#efedf0;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    border-radius:8px;
    padding:10px 80px;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container .border-line{
    height:1px;
    border-bottom:1px solid #d0d4d8;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container .table{
    padding:40px 0;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container .table:last-child{
    border-bottom:none;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container .table h2{
    font-size:20px;
    line-height:30px;
    color:#313a43;
    margin-bottom:45px;
    padding:0 15px;
}
.page-template-flexible-btb-mt59 .section-impact-table .table-container .table a{
    font-size:13px;
    line-height:26px;
    color:#485058;
}
.page-template-flexible-btb-mt59 .section-about-widget{
    padding:2rem 0;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-header .logo-wrapper{
    margin-bottom:20px;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-header .logo-wrapper img{
    max-width:155px;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-main{
    margin-bottom:30px;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-main p{
    font-weight:normal;
    font-size:16px;
    line-height:28px;
    color:#485058;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-main p a{
    color:#ad79ce;
    font-weight:600;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-main p a:hover{
    color:#8a5ea6;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-footer a{
    display:inline-block;
    font-weight:600;
    font-size:18px;
    line-height:16px;
    color:#fff;
    background:#8a5ea6;
    border:1px solid #8857ac;
    border-radius:47px;
    padding:13px 60px;
}
.page-template-flexible-btb-mt59 .section-about-widget .widget-footer a:hover{
    color:#8857ac;
    background-color:transparent;
}
.page-template-flexible-btb-mt59 .section-details-widget{
    padding-bottom:0;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container{
    max-width:930px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .header{
    margin-bottom:40px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block{
    margin-bottom:60px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .title{
    font-weight:bold;
    font-size:26px;
    line-height:32px;
    color:#452f53;
    margin-bottom:20px;
    text-align:left;
    margin-left:20px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .block-wrapper{
    display:flex;
    align-items:flex-end;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding:20px 25px 10px;
    min-height:430px;
    min-width:265px;
    width:265px;
    background:#fff;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    box-shadow:0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius:8px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .chart{
    height:115px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .chart img{
    height:100%;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .value{
    font-weight:bold;
    font-size:36px;
    line-height:60px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .card-desc-w,.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .card-desc-m{
    font-weight:600;
    font-size:16px;
    line-height:24px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .left-wrapper .card-desc-w{
    color:#313a43;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .right-wrapper .iframe-chart{
    padding:15px 20px 15px 40px;
    background:#fff;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    box-shadow:0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius:0 8px 8px 0;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .right-wrapper .chart-desc{
    padding-top:28px;
    padding-left:31px;
}
.page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .right-wrapper .chart-desc p{
    font-weight:normal;
    font-size:14px;
    line-height:20px;
    color:#313a43;
    text-align:left;
}
.page-template-flexible-btb-mt59 .section-new-widget{
    padding-top:70px;
}
.page-template-flexible-btb-mt59 .section-new-widget .widget-container{
    max-width:930px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-new-widget .widget-container .header{
    margin-bottom:60px;
}
.page-template-flexible-btb-mt59 .section-new-widget .widget-container .header h2{
    margin:0;
}
.page-template-flexible-btb-mt59 .section-new-widget .widget-container .header h3{
    font-weight:normal;
    font-size:20px;
    line-height:34px;
    margin:0;
}
.page-template-flexible-btb-mt59 .section-new-widget .widget-container .news .news-container{
    background:#fff;
    border:1px solid #e5e6e7;
    box-sizing:border-box;
    box-shadow:0px 4px 40px rgba(138, 94, 166, 0.1);
    border-radius:8px;
    min-height:360px;
    padding:20px;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container{
    max-width:930px;
    margin:0 auto;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard{
    padding:40px;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard h2{
    font-size:25px;
    color:#000;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard h3{
    font-size:18px;
    line-height:26px;
    margin-bottom:25px;
    color:#313a43;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard a.more-link{
    position:relative;
    font-weight:600;
    font-size:18px;
    line-height:27px;
    color:#734e8a;
}
.page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard a.more-link::before{
    content:"";
    position:absolute;
    top:-4px;
    left:-60px;
    width:30px;
    height:30px;
    background-image:url(../img/circle-arrow-left.png);
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}
.page-template-flexible-btb-mt59 footer{
    background-color:transparent;
}
.page-template-flexible-btb-mt59 footer .row{
    max-width:960px;
}
.page-template-flexible-btb-mt59 footer .press-logos{
    border-bottom:none;
    padding:0;
}
.page-template-flexible-btb-mt59 footer .press-logos .row{
    padding:50px 0;
    border-top:1px solid #cdcdcd;
}
.page-template-flexible-btb-mt59 footer .press-logos p{
    margin-bottom:45px !important;
}
.page-template-flexible-btb-mt59 footer .footer-summary p {
    font-weight: normal;
}
.page-template-flexible-btb-mt59 footer .copyright{
    border-top:none;
}

 @media screen and (max-width:1024px){
    .page-template-flexible-btb-mt59 .row{
        padding:0 20px;
    }
}
 @media only screen and (max-width:48em){
    .page-template-flexible-btb-mt59 h1{
        font-size:40px;
        line-height:51px;
    }
    .page-template-flexible-btb-mt59 h2{
        font-size:40px;
        line-height:40px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers h3{
        margin-bottom:45px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers h3 br{
        display:none;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers a.more-link{
        max-width:264px;
        font-size:22px;
        line-height:27px;
        display:block;
        margin:0 auto;
        padding-right:0;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers a.more-link::after{
        width:38px;
        height:38px;
        top:auto;
        right:50%;
        transform:translate(50%, 35px);
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid{
        margin-top:20px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card{
        margin:0 auto;
        padding:34px 15px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget.section-5{
        padding:30px 0;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .row{
        padding:0;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container{
        margin:0 20px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container.boxed{
        padding:60px 15px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="text"]{
        flex:1;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container input[type="email"]{
        flex:1;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container select{
        flex:1;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining{
        flex-direction:column;
        justify-content:center;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .left-col{
        width:100%;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .left-col img{
        height:190px;
        width:100%;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col{
        text-align:center;
        padding:25px 20px;
    }
    .page-template-flexible-btb-mt59 .section-social-group .group-container .row{
        display:block;
    }
    .page-template-flexible-btb-mt59 .section-social-group h3{
        margin-bottom:30px;
    }
    .page-template-flexible-btb-mt59 .section-social-group .button-container ul{
        width:100%;
        justify-content:space-around;
    }
    .page-template-flexible-btb-mt59 .section-social-group .button-container ul li{
        width:54px;
        height:54px;
        margin-bottom:20px;
    }
    .page-template-flexible-btb-mt59 .section-impact-table .table-container{
        background-color:transparent;
        border:none;
        padding:0;
    }
    .page-template-flexible-btb-mt59 .section-impact-table .table-container .border-line{
        margin:30px 0;
    }
    .page-template-flexible-btb-mt59 .section-impact-table .table-container .table{
        background-color:#efedf0;
        border:aliceblue;
        box-sizing:border-box;
        border-radius:8px;
        padding:40px 25px 30px;
    }
    .page-template-flexible-btb-mt59 .section-impact-table .table-container .table h2{
        margin-bottom:30px;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .title{
        margin-left:0;
        text-align:center;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .block-wrapper{
        justify-content:center;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .block-wrapper .right-wrapper{
        display:none;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block:last-child{
        margin-bottom:0;
    }
    .page-template-flexible-btb-mt59 footer .footer-bottom .row{
        padding:50px 15px;
    }
    .page-template-flexible-btb-mt59 footer .columns{
        padding-left:0.9375rem;
        padding-right:0.9375rem;
    }
    .page-template-flexible-btb-mt59 footer .press-logos .row{
        padding-bottom:0;
    }
    .page-template-flexible-btb-mt59 footer .footer-bottom .footer-headline{
        font-size:15px;
        line-height:31px;
    }
    .page-template-flexible-btb-mt59 footer .footer-bottom ul.menu li a{
        font-size:14px;
    }
}
 @media only screen and (max-width:40em){
    .page-template-flexible-btb-mt59 .column,.page-template-flexible-btb-mt59 .columns{
        padding:0;
    }
    .page-template-flexible-btb-mt59 .row .row{
        padding:0;
    }
    .page-template-flexible-btb-mt59 .section-1{
        order:1;
    }
    .page-template-flexible-btb-mt59 .section-2{
        order:2;
    }
    .page-template-flexible-btb-mt59 .section-3{
        order:3;
    }
    .page-template-flexible-btb-mt59 .section-4{
        order:4;
    }
    .page-template-flexible-btb-mt59 .section-5{
        order:5;
    }
    .page-template-flexible-btb-mt59 .section-6{
        order:6;
    }
    .page-template-flexible-btb-mt59 .section-7{
        order:8;
    }
    .page-template-flexible-btb-mt59 .section-8{
        order:7;
    }
    .page-template-flexible-btb-mt59 .section-9{
        order:9;
    }
    .page-template-flexible-btb-mt59 .section-hero h3{
        font-size:22px;
        line-height:28px;
    }
    .page-template-flexible-btb-mt59 .section-hero .headline{
        margin-bottom:48px;
    }
    .page-template-flexible-btb-mt59 .section-hero .row.content .container::before{
        top:-35px;
        left:-52px;
        width:114px;
        height:124px;
        background-image:url(../img/btb-hero-bg-l-3.png);
    }
    .page-template-flexible-btb-mt59 .section-hero .row.content .container::after{
        bottom:-49px;
        right:-20px;
        width:90px;
        height:325px;
        background-image:url(../img/btb-hero-bg-r-3.png);
    }
    .page-template-flexible-btb-mt59 .section-hero .row.content .container.detail::before{
        top:-31px;
        left:-20px;
        width:84px;
        height:129px;
        background-image:url(../img/btb-hero-bg-l-4.png);
    }
    .page-template-flexible-btb-mt59 .section-hero .row.content .container.detail::after{
        bottom:-52px;
        right:-27px;
        width:99px;
        height:286px;
        background-image:url(../img/btb-hero-bg-r-4.png);
    }
    .page-template-flexible-btb-mt59 .section-hero .row.content .container .content-wrapper{
        padding:30px 10px 25px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers{
        padding-top:80px;
        padding-bottom:30px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .columns{
        margin-bottom:15px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .columns:last-child{
        margin-bottom:0;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card{
        margin:0 auto;
        padding:34px;
        padding-bottom:10px;
        max-width:430px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .title{
        margin-bottom:30px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .chart{
        margin-bottom:10px;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .value{
        font-size:40px;
        margin-bottom:0;
    }
    .page-template-flexible-btb-mt59 .section-by-numbers .card-grid .card .card-desc br{
        display:none;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .header h3{
        font-weight:bold;
        line-height:40px;
        max-width:250px;
        margin:0 auto;
        margin-bottom:20px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .header h4{
        font-size:16px;
        font-weight:400;
        line-height:24px;
        color:#313a43;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input{
        display:block;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input input[type="text"]{
        width:100%;
        margin:0;
        margin-bottom:18px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input input[type="submit"]{
        float:none;
        width:50%;
        margin:0;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input input[type="email"]{
        width:100%;
        margin:0;
        margin-bottom:10px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .row.input select{
        width:100%;
        margin:0;
        margin-bottom:20px;
    }
    .page-template-flexible-btb-mt59 .section-form-widget .form-container .btb-zip-search-results ul.result-list{
        max-width:100%;
    }
    .page-template-flexible-btb-mt59 .section-training-widget{
        padding-top:30px;
    }
    .page-template-flexible-btb-mt59 .section-training-widget h2{
        margin-bottom:30px;
    }
    .page-template-flexible-btb-mt59 .section-training-widget h3{
        margin-bottom:0;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .field-container{
        padding:0;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container{
        grid-template-columns:repeat(1, 1fr);
        grid-row-gap:25px;
    }
    .page-template-flexible-btb-mt59 .section-training-widget .traninings-container .tranining .right-col .summary{
        font-size:20px;
        line-height:28px;
    }
    .page-template-flexible-btb-mt59 .section-social-group{
        padding-bottom:0;
    }
    .page-template-flexible-btb-mt59 .section-social-group h3{
        font-size:30px;
        line-height:45px;
        margin-bottom:45px;
    }
    .page-template-flexible-btb-mt59 .section-impact-table{
        padding-top:30px;
    }
    .page-template-flexible-btb-mt59 .section-impact-table .table-container .table h2{
        padding:0;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .header{
        margin-bottom:40px;
    }
    .page-template-flexible-btb-mt59 .section-details-widget .widget-container .result-block .title{
        margin-bottom:45px;
        margin-left:0;
        text-align:center;
    }
    .page-template-flexible-btb-mt59 .section-new-widget{
        padding-top:30px;
    }
    .page-template-flexible-btb-mt59 .section-new-widget .widget-container .header h2{
        margin-bottom:20px;
    }
    .page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard{
        padding:60px 10px 90px;
    }
    .page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard h2{
        margin-bottom:25px;
    }
    .page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard h3{
        font-size:20px;
        line-height:35px;
        margin-bottom:50px;
    }
    .page-template-flexible-btb-mt59 .section-leadboard .widget-container .leadboard a.more-link::before{
        left:50%;
        transform:translate(-50%, 50px);
    }
}
