/* sticky footer */
html,
body {
	height: 100%;
}

body * {
	outline: none !important;
}

.page-row {
	display: table-row;
	height: 1px;
}

.page-row-expanded {
	height: 100%;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
	background-color: $white;
	table-layout: fixed;
}

.main-inner-wrapper {
	max-width: 100%;
	overflow: hidden;
}


.search-list {

	li {
		list-style: none;
		display: block;
		margin-bottom: 30px;
	}

}


/* header styles */
header {
	background-color: #fff;
	margin-bottom: 0 !important;
	z-index: 1000 !important;
}

.main-wrapper .header-inner {
	background-color: $white;
	height: 68px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	& > .row {
		height: 100%;
	}

	&.landing-page-header > .row {
		border-bottom: 1px solid #ddd;
	}

	.top-bar {
		height: auto;

		.title-area {

			.logo {
				display: inline-block;
				vertical-align: top;
				position: relative;
				padding-left: 15px;
				top: 12px;
				z-index: 10;
				img {
					display: inline-block;
					vertical-align: top;
					width: 155px;
				}
			}

			.toggle-topbar.menu-icon {
				top: 18px;
				margin-top: 0;
			}
		}

		.top-bar-section {
			margin-top: 0;
			& > ul {
				display: inline-block;
				vertical-align: top;
				&:last-child {
					float: right;
				}
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
		}
	}

}

.mobile-header-signup {
	display: none;
}

.header-placement {
	height: 68px;
}


/* -------------------------------
	media
------------------------------- */
@media only screen and (max-width: 1023px) {

	.main-wrapper > header .row > .columns {
		padding: 0;
	}

}
@media only screen and (min-width: 642px) and (max-width: 768px) { 
	.main-wrapper>header .top-bar .title-area {
		margin-right: 20px;
	}
	.main-wrapper .header-inner .top-bar .title-area .logo {
		top: 15px;
		img {
			width: 125px !important;
		}
	
	}
	.top-bar-section > ul:last-child {
		margin-top: 16px !important; 
	}	
	.top-bar-section>ul:last-child li a {
		font-size: 15px !important;
	}
	.top-bar-section>ul:first-child li:not(.has-form) a:not(.button) {
		padding: 22px 10px !important;
		font-size: 15px !important;
	}	
}

@media only screen and (min-width: 641px) {

	.main-wrapper > header .top-bar .title-area {
		margin-right: 24px;
	}

	.top-bar-section {
		& > ul {

			// nav
			&:first-child {
				li:not(.has-form) {
					background: transparent;
					a:not(.button) {
						color: $purple;
						line-height: 1;
						font-size: 16px;
						font-weight: 400;
						padding: 26px 12px !important;
					}
					&:hover > a:not(.button),
					&.active > a:not(.button) {
						color: #898989;
						background: transparent;
					}
					&.has-dropdown {
						& > a {
							&:after {
								display: none;
							}
						}
						& > .dropdown {
							background-color: $white;
							width: 252px;
							padding: 8px 22px;
							border: 1px solid #ddd;
							left: -10px;
							& > li:not(.has-form) {
								& > a:not(.button) {
									background-color: transparent;
									padding: 0 !important;
									color: $purple;
									line-height: 40px;
								}
								&:hover > a:not(.button),
								&.active > a:not(.button) {
									color: #898989;
								}

								// additional classes
								&.border-bottom > a:not(.button) {
									border-bottom: 1px solid #ddd;
									padding-bottom: 7px !important;
								}
								&.border-bottom + li:not(.border-bottom) > a:not(.button) {
									padding-top: 8px !important;
								}
							}
						}

						// additional classes
						&.small-subnav > .dropdown {
							padding: 13px 22px 18px;
							& > li:not(.has-form) > a:not(.button) {
								line-height: 30px;
							}
						}
					}
				}
			}

			// header buttons
			&:last-child {
				margin-top: 15px;
				padding-right: 15px;
				li {
					background-color: transparent;
					margin-left: 10px;
					a,
					a:focus {
						display: inline-block;
						vertical-align: top;
						background-color: transparent;
						color: $purple;
						line-height: 1;
						font-size: 16px;
						font-weight: 400;
						border-radius: 3px;
						padding: 9px 10px;
						height: auto;
						border: 1px solid transparent;
						transition: all 300ms ease-out;
						top: auto;
						&:hover {
							color: $purple;
							border: 1px solid $purple;
							background-color: transparent;
						}
					}
					a.highlighted,
					a.highlighted:focus {
						border: 1px solid $purple;
						color: $white;
						background-color: $purple;
						&:hover {
							color: $purple;
							background-color: transparent;
						}
					}
				}
			}
		}
	}

}


@media only screen and (max-width: 640px) {

	header {
		border-bottom: 1px solid #ddd;
	}

	.mobile-header-signup {
		display: block;
		line-height: 1;
		font-size: 16px !important;
		font-weight: 400;
		border-radius: 3px;
		padding: 9px 10px !important;
		height: auto;
		transition: all 300ms ease-out;
		top: auto !important;
		border: 1px solid #8857ac;
		color: #fff;
		background-color: #8857ac;
		margin: 15px !important;

		&:hover {
			color: #8857ac;
			background-color: transparent;
		}
	}

	.mobile-menu-expanded-bg {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		z-index: 999;
	}

	.header-placement:not(.landing-header-placement) {
		height: 112px;
	}

	.top-bar {
		overflow: visible;
	}

	.top-bar-section {
		border-top: 1px solid #ddd;
		background: $white;
		display: none;

		& > ul:last-child {
			float: none !important;

			& > li:not(:nth-child(1)) {
				display: none !important;
			}
		}
	}

	.top-bar.expanded .top-bar-section {
		display: block;
	}

	.main-wrapper > header .top-bar .top-bar-section > ul {
		vertical-align: top;
	}

	.top-bar-section ul li {
		background: $white;
		padding: 0 15px;
	}

	.top-bar-section ul li {
		& > a {
			line-height: 40px;
			color: $purple;
			font-size: 16px;
			font-weight: 400;
			padding: 0;
		}

		// additional classes
		&.border-bottom > a:not(.button) {
			border-bottom: 1px solid #ddd;
			padding-bottom: 7px !important;
		}
		&.border-bottom + li:not(.border-bottom) > a:not(.button) {
			padding-top: 8px !important;
		}
	}

	.top-bar-section ul li:hover:not(.has-form) > a,
	.top-bar-section ul li.active > a {
		background-color: transparent;
		color: #898989;
	}

	.top-bar-section .divider, .top-bar-section [role="separator"] {
		display: none !important;
	}

	.main-wrapper > header .top-bar .top-bar-section > ul:last-child {
		border-top: 1px solid #ddd;
		background-color: $white;
		float: none;
	}

	.main-wrapper > header .top-bar .top-bar-section > ul:last-child li {
		display: block;
		margin: 5px 0;
	}

	.main-wrapper > header .top-bar .top-bar-section > ul:last-child li > a,
	.top-bar-section .dropdown li.title h5 a {
		background-color: transparent;
		color: $purple;
		line-height: 1;
		font-size: 16px;
		font-weight: 400;
		border-radius: 3px;
		padding: 9px 10px;
		height: auto;
		border: 1px solid $purple;
		transition: all 300ms ease-out;
		top: auto;
		&:hover {
			color: $white;
			background-color: $purple;
		}

		&.highlighted,
		&.highlighted:focus {
			border: 1px solid $purple;
			color: $white;
			background-color: $purple;
			&:hover {
				color: $purple;
				background-color: transparent;
			}
		}
	}

	.top-bar-section .dropdown li.title h5 a {
		text-align: center;
	}

	.top-bar-section .has-dropdown.moved > .dropdown {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-top: 5px;
		padding-bottom: 8px;
		background-color: $white;
		top: -1px;
	}

	.top-bar-section .dropdown li.parent-link {
		border-bottom: 1px solid $purple;
		margin-bottom: 8px;
	}

	.top-bar-section .dropdown li.parent-link > a {
		color: $purple;
		font-weight: bold;
		padding: 8px 0;
	}

	.top-bar-section .dropdown li a {
		padding: 0;
	}

}
